workflows/_shared/contract-validator.json
{"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,96],"id":"e9d1255a-63f1-4833-9827-b31af7be3c62","name":"ManualTest"},{"parameters":{"httpMethod":"POST","path":"phoenix/shared/contract/validate","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,-96],"id":"7750ce6e-dbc3-4529-a2b7-d5faecf34431","name":"ContractWebhook","webhookId":"571660ff-1199-4fb8-b6bf-745166dcce83"},{"parameters":{"jsCode":"// Provide a minimal Phoenix v2 event for manual testing.\nreturn [{\n  json: {\n    version: '2.0.0',\n    article: {\n      id: 'manual-001',\n      source: 'manual',\n      url: 'https://example.com/manual-001',\n      title: 'Phoenix v2 Contract Test',\n      language: 'zh-TW',\n      content: 'Minimal content for validating the Phoenix v2 event contract.',\n      images: [],\n      tags: []\n    },\n    metadata: {\n      eventType: 'content.received',\n      timezone: 'Asia/Taipei',\n      language: 'zh-TW',\n      status: 'received'\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,96],"id":"2798fe09-bbb4-483e-bfc8-63d0abc9a2b9","name":"BuildSampleEvent"},{"parameters":{"jsCode":"// Normalize and validate the Phoenix Event Contract v2.\nconst input = $input.first().json;\nconst body = input.body ?? input;\n\nconst fail = (message, details = []) => {\n  const error = new Error(message);\n  error.name = 'PHOENIX_CONTRACT_INVALID';\n  error.details = details;\n  throw error;\n};\n\nif (!body || typeof body !== 'object' || Array.isArray(body)) {\n  fail('Phoenix event must be an object');\n}\n\nconst version = String(body.version ?? '2.0.0');\nconst major = Number(version.split('.')[0]);\n\nif (major !== 2) {\n  fail(`Unsupported Phoenix event version: ${version}`, [\n    'Expected a 2.x.x version'\n  ]);\n}\n\nconst objectSections = [\n  'article',\n  'analysis',\n  'research',\n  'styleRag',\n  'writingMemoryContext',\n  'promptContext',\n  'draft',\n  'review',\n  'publication',\n  'feedback',\n  'metadata'\n];\n\nfor (const section of objectSections) {\n  if (\n    body[section] !== undefined &&\n    (typeof body[section] !== 'object' || body[section] === null || Array.isArray(body[section]))\n  ) {\n    fail(`${section} must be an object`);\n  }\n}\n\nconst now = new Date().toISOString();\nconst existingMetadata = body.metadata ?? {};\nconst history = Array.isArray(existingMetadata.history)\n  ? existingMetadata.history\n  : [];\n\nconst eventId = existingMetadata.eventId ||\n  `evt:${Date.now()}:${Math.random().toString(36).slice(2, 10)}`;\n\nconst normalized = {\n  ...body,\n  version,\n  article: body.article ?? {},\n  analysis: body.analysis ?? {},\n  research: body.research ?? {},\n  styleRag: body.styleRag ?? {},\n  writingMemoryContext: body.writingMemoryContext ?? {},\n  promptContext: body.promptContext ?? {},\n  draft: body.draft ?? {},\n  review: body.review ?? {},\n  publication: body.publication ?? {},\n  feedback: body.feedback ?? {},\n  metadata: {\n    ...existingMetadata,\n    eventId,\n    eventType: existingMetadata.eventType ?? 'phoenix.event',\n    createdAt: existingMetadata.createdAt ?? now,\n    updatedAt: now,\n    timezone: existingMetadata.timezone ?? 'Asia/Taipei',\n    language: existingMetadata.language ?? body.article?.language ?? 'zh-TW',\n    currentWorkflow: 'shared-contract-validator',\n    status: 'contract_valid',\n    history: [\n      ...history,\n      {\n        workflow: 'shared-contract-validator',\n        version: '2.0.0',\n        status: 'contract_valid',\n        timestamp: now\n      }\n    ]\n  }\n};\n\nif (\n  normalized.article.url &&\n  !/^https?:\\/\\//i.test(String(normalized.article.url))\n) {\n  fail('article.url must start with http:// or https://');\n}\n\nreturn [{ json: normalized }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,0],"id":"22a48b70-50ed-47aa-93f1-73ba02ed7abe","name":"ValidatePhoenixContract"}],"connections":{"ManualTest":{"main":[[{"node":"BuildSampleEvent","type":"main","index":0}]]},"ContractWebhook":{"main":[[{"node":"ValidatePhoenixContract","type":"main","index":0}]]},"BuildSampleEvent":{"main":[[{"node":"ValidatePhoenixContract","type":"main","index":0}]]}},"pinData":{},"settings":{"timezone":"Asia/Taipei","executionOrder":"v1"},"meta":{"instanceId":"77a976b121cfd3aa989f7edc4adf3d5f53344addf28f8e019d7604d7bc201cb2"}}
