workflows/00-bootstrap.json
{"name":"00-Bootstrap","nodes":[{"parameters":{},"id":"960e0bbb-7653-437d-9e4e-f2ca178cda0d","name":"ManualTrigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-520,0]},{"parameters":{"assignments":{"assignments":[{"id":"c9820d64-595f-4953-9231-ce316aea0cfc","name":"app","value":"Phoenix AI Content Engine","type":"string"},{"id":"91adcfdd-b156-4f85-8c6d-751be6b6680f","name":"version","value":"0.1.0","type":"string"},{"id":"98e2b0e6-592e-41bb-b760-796970a48366","name":"timezone","value":"Asia/Taipei","type":"string"},{"id":"24acbcf4-041b-4b78-a113-206d7d18eacb","name":"language","value":"zh-TW","type":"string"},{"id":"6f964a34-36cd-4ba8-a79f-290dd5802433","name":"dailyLimit","value":1,"type":"number"},{"id":"7b96f891-fe94-460d-b458-6b85df7e8ade","name":"ragTopK","value":6,"type":"number"},{"id":"25d10e35-f61c-4815-a1b3-8670ab322116","name":"primaryProvider","value":"openrouter","type":"string"},{"id":"ede56afb-914a-495d-8122-b05e1afa53f6","name":"primaryBaseUrl","value":"https://openrouter.ai/api/v1","type":"string"},{"id":"b6dba31e-9904-480d-9a87-45a0e47c3c28","name":"primaryModel","value":"openrouter/free","type":"string"},{"id":"66154f63-66fa-4761-8164-7db2b04f42c6","name":"fallbackProvider","value":"nvidia","type":"string"},{"id":"2680853e-2794-463d-811b-fd798b9570e8","name":"fallbackBaseUrl","value":"https://integrate.api.nvidia.com/v1","type":"string"},{"id":"2c44dc5c-ac07-4f1a-a699-2524ec46191b","name":"fallbackModel","value":"","type":"string"},{"id":"c15fc691-b500-4a68-b913-4f751abb2f81","name":"qdrantCollection","value":"medium_style_chunks","type":"string"},{"id":"f03aa5a6-818c-44df-844e-ac149229696a","name":"generatedAt","value":"={{ $now.toISO() }}","type":"string"}]},"options":{}},"id":"ae736a78-3f0c-4c75-9f33-ced05bada790","name":"BuildRuntimeConfig","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-280,0]},{"parameters":{"jsCode":"// Validate the shared runtime configuration before other workflows consume it.\nconst config = $input.first().json;\nconst errors = [];\n\nif (config.timezone !== 'Asia/Taipei') errors.push('timezone must be Asia/Taipei');\nif (!Number.isInteger(config.dailyLimit) || config.dailyLimit < 1) errors.push('dailyLimit must be a positive integer');\nif (!Number.isInteger(config.ragTopK) || config.ragTopK < 1) errors.push('ragTopK must be a positive integer');\nif (!config.primaryBaseUrl.startsWith('https://')) errors.push('primaryBaseUrl must use HTTPS');\nif (!config.fallbackBaseUrl.startsWith('https://')) errors.push('fallbackBaseUrl must use HTTPS');\nif (!config.primaryModel) errors.push('primaryModel is required');\n\nif (errors.length) {\n  throw new Error(`Invalid Phoenix runtime configuration: ${errors.join('; ')}`);\n}\n\nreturn [{\n  json: {\n    ...config,\n    status: 'ready',\n    credentialsRequired: [\n      'OpenRouter API',\n      'NVIDIA NIM API',\n      'Qdrant Cloud API'\n    ],\n    fallbackModelConfigured: Boolean(config.fallbackModel)\n  }\n}];"},"id":"760633a1-3033-478b-adab-d3025c3f6de3","name":"ValidateRuntimeConfig","type":"n8n-nodes-base.code","typeVersion":2,"position":[-20,0]}],"pinData":{},"connections":{"ManualTrigger":{"main":[[{"node":"BuildRuntimeConfig","type":"main","index":0}]]},"BuildRuntimeConfig":{"main":[[{"node":"ValidateRuntimeConfig","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1","timezone":"Asia/Taipei"},"versionId":"6a788988-b60c-4e57-ad76-b4edf7299be3","meta":{"templateCredsSetupCompleted":false},"tags":[]}