workflows/01-daily-orchestrator.json
{"nodes":[{"parameters":{"rule":{"interval":[{"field":"days","triggerAtHour":7,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,-96],"id":"f5b35a7a-3644-47f2-8fc8-3fca86ca52bd","name":"DailySchedule"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,96],"id":"97170c63-c533-4350-8087-abbd384fd5d8","name":"ManualTest"},{"parameters":{"assignments":{"assignments":[{"id":"7fe1feba-5761-4a63-bdba-e2e9cd9b04d2","name":"workflow","value":"01-daily-orchestrator","type":"string"},{"id":"9c42383f-ad34-44b5-94e7-278cc4aa16f2","name":"version","value":"0.1.0","type":"string"},{"id":"c70dae19-70fb-47c9-83cc-a48bc79913ee","name":"timezone","value":"Asia/Taipei","type":"string"},{"id":"5000b956-be21-48c9-a8ae-2d136709d7b0","name":"language","value":"zh-TW","type":"string"},{"id":"29a2ee8f-6669-41f8-8ebb-c372b5185e59","name":"dailyLimit","value":1,"type":"number"},{"id":"94b37628-d91b-41a8-8c77-3cf9f7d845e0","name":"sourceWorkflow","value":"02-source-collector","type":"string"},{"id":"080dce97-8c33-422c-a025-5b8da76815b4","name":"primaryProvider","value":"openrouter","type":"string"},{"id":"9998871e-8abc-43e4-a41e-57b7a99e6180","name":"fallbackProvider","value":"nvidia","type":"string"},{"id":"78471dd1-7a42-414c-8cbf-8d97f81575e0","name":"ragCollection","value":"medium_style_chunks","type":"string"},{"id":"03c47883-aecb-4df2-a114-af2b4718f37f","name":"startedAt","value":"={{ $now.toISO() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,0],"id":"9370ef64-8d55-4712-8466-bcbfa208ee77","name":"BuildExecutionContext"},{"parameters":{"jsCode":"const context=$input.first().json;const now=new Date();const runDate=new Intl.DateTimeFormat('en-CA',{timeZone:context.timezone,year:'numeric',month:'2-digit',day:'2-digit'}).format(now);const runId=`${runDate}-${Math.random().toString(36).slice(2,10)}`;if(!Number.isInteger(context.dailyLimit)||context.dailyLimit<1)throw new Error('dailyLimit must be a positive integer');return [{json:{...context,runId,runDate,status:'ready',maxDraftsThisRun:context.dailyLimit}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,0],"id":"297b4018-4728-4976-a458-a0afcafd3cd1","name":"FinalizeExecutionContext"}],"connections":{"DailySchedule":{"main":[[{"node":"BuildExecutionContext","type":"main","index":0}]]},"ManualTest":{"main":[[{"node":"BuildExecutionContext","type":"main","index":0}]]},"BuildExecutionContext":{"main":[[{"node":"FinalizeExecutionContext","type":"main","index":0}]]}},"pinData":{},"settings":{"timezone":"Asia/Taipei","executionOrder":"v1"},"meta":{"instanceId":"77a976b121cfd3aa989f7edc4adf3d5f53344addf28f8e019d7604d7bc201cb2"}}