workflows/02-ingestion-pipeline.json
{"nodes":[{"parameters":{"httpMethod":"POST","path":"phoenix/ingest","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,-160],"id":"32f002fb-79af-46f6-8202-392f88ebff41","name":"IngestionWebhook","webhookId":"e9945207-bdad-4c23-a967-3a753fe801ad"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,80],"id":"b004f8a8-19d4-4c02-8c80-456a529823c1","name":"ManualTest"},{"parameters":{"jsCode":"// Provide deterministic sample records for manual testing.\nreturn [\n  {\n    json: {\n      items: [\n        {\n          source: 'rss',\n          title: 'AI Agent 與工作流',\n          url: 'https://example.com/posts/ai-agent',\n          content: 'AI Agent 不只生成文字，也應根據工具結果決定下一步。',\n          language: 'zh-TW',\n          publishedAt: '2026-07-16T00:00:00.000Z'\n        },\n        {\n          source: 'rss',\n          title: 'AI Agent 與工作流（重複）',\n          url: 'https://example.com/posts/ai-agent',\n          content: '這是一筆相同 URL 的重複資料。',\n          language: 'zh-TW',\n          publishedAt: '2026-07-16T00:00:00.000Z'\n        }\n      ]\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,80],"id":"8e58d1f0-2abf-4afc-8d06-f0972b648d6f","name":"BuildSampleInput"},{"parameters":{"jsCode":"// Normalize webhook, RSS, Telegram, or manual payloads into one content shape.\nconst input = $input.first().json;\nconst body = input.body ?? input;\nconst candidates = Array.isArray(body) ? body : Array.isArray(body.items) ? body.items : [body];\n\nconst normalized = candidates.map((item, index) => {\n  const url = String(item.url ?? item.link ?? item.tweet_url ?? '').trim();\n  const title = String(item.title ?? item.name ?? '').trim();\n  const content = String(item.content ?? item.text ?? item.description ?? item.body ?? '').trim();\n  const source = String(item.source ?? (item.tweet_url ? 'x' : 'webhook')).toLowerCase();\n  const language = String(item.language ?? 'zh-TW');\n  const publishedAt = item.publishedAt ?? item.pubDate ?? item.isoDate ?? null;\n\n  return {\n    json: {\n      id: String(item.id ?? `${source}:${url || index}`),\n      source,\n      title,\n      url,\n      language,\n      content,\n      images: Array.isArray(item.images) ? item.images : [],\n      tags: Array.isArray(item.tags) ? item.tags : [],\n      score: 0,\n      shouldWrite: false,\n      analysis: {},\n      metadata: {\n        createdAt: new Date().toISOString(),\n        publishedAt,\n        collector: '02-ingestion-pipeline',\n        version: '0.2.0'\n      }\n    }\n  };\n});\n\nreturn normalized;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,-40],"id":"f64a52a1-906c-4b48-beb8-c9952947ebe7","name":"NormalizeContent"},{"parameters":{"jsCode":"// Remove duplicate records inside the current batch.\n// URL is the preferred key; content is used when URL is unavailable.\nconst seen = new Set();\nconst unique = [];\n\nfor (const item of $input.all()) {\n  const data = item.json;\n  const key = data.url\n    ? `url:${data.url.toLowerCase().replace(/\\/$/, '')}`\n    : `content:${data.content.toLowerCase().replace(/\\s+/g, ' ').trim()}`;\n\n  if (!key.endsWith(':') && !seen.has(key)) {\n    seen.add(key);\n    unique.push(item);\n  }\n}\n\nreturn unique;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,-40],"id":"7c503ddd-fa66-4003-829a-31d76b65bdfd","name":"DeduplicateBatch"},{"parameters":{"jsCode":"// Validate the minimum contract required by downstream workflows.\nreturn $input.all().map((item) => {\n  const data = item.json;\n  const errors = [];\n\n  if (!data.id) errors.push('id is required');\n  if (!data.source) errors.push('source is required');\n  if (!data.url) errors.push('url is required');\n  if (!data.content) errors.push('content is required');\n  if (!data.language) errors.push('language is required');\n\n  if (errors.length) {\n    throw new Error(`Invalid content item ${data.id || '(unknown)'}: ${errors.join('; ')}`);\n  }\n\n  return {\n    json: {\n      ...data,\n      metadata: {\n        ...data.metadata,\n        status: 'normalized'\n      }\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,-40],"id":"c94b1f4d-cc88-49dc-b269-77b3ee280a23","name":"ValidateContent"}],"connections":{"IngestionWebhook":{"main":[[{"node":"NormalizeContent","type":"main","index":0}]]},"ManualTest":{"main":[[{"node":"BuildSampleInput","type":"main","index":0}]]},"BuildSampleInput":{"main":[[{"node":"NormalizeContent","type":"main","index":0}]]},"NormalizeContent":{"main":[[{"node":"DeduplicateBatch","type":"main","index":0}]]},"DeduplicateBatch":{"main":[[{"node":"ValidateContent","type":"main","index":0}]]}},"pinData":{},"settings":{"timezone":"Asia/Taipei","executionOrder":"v1"},"meta":{"instanceId":"77a976b121cfd3aa989f7edc4adf3d5f53344addf28f8e019d7604d7bc201cb2"}}