workflows/03-analyze-content-v0.3.1.json
{"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,80],"id":"103cff6b-2f03-4709-8c5d-16e6be70e850","name":"ManualTest"},{"parameters":{"jsCode":"// Provide a deterministic normalized content item for manual testing.\nreturn [{\n  json: {\n    id: 'manual:https://example.com/ai-agent',\n    source: 'manual',\n    title: 'AI Agent 與工作流',\n    url: 'https://example.com/ai-agent',\n    language: 'zh-TW',\n    content: 'AI Agent 不應只負責生成文字，也應根據工具結果規劃下一步。',\n    images: [],\n    tags: ['AI', 'n8n'],\n    score: 0,\n    shouldWrite: false,\n    analysis: {},\n    metadata: {\n      createdAt: new Date().toISOString(),\n      collector: 'manual-test',\n      version: '1.0.0',\n      status: 'normalized'\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,80],"id":"179131f4-1174-468d-a480-e1fd9772f964","name":"BuildSampleContent"},{"parameters":{"jsCode":"// Build a strict JSON-only prompt for the analysis model.\nconst item = $input.first().json;\n\nif (!item.content || !item.url) {\n  throw new Error('Normalized content requires url and content');\n}\n\nconst systemPrompt = `你是 Phoenix AI Content Engine 的內容分析員。你的任務是判斷輸入內容是否值得擴寫成繁體中文 Medium 深度長文。不要直接撰寫文章。只輸出合法 JSON，不要 Markdown code fence。輸出格式：{\"topic\":\"主題\",\"coreIdea\":\"核心觀點\",\"audience\":\"目標讀者\",\"score\":0,\"shouldWrite\":false,\"angles\":[\"延伸方向\"],\"keywords\":[\"關鍵詞\"],\"researchQuestions\":[\"需要查證的問題\"],\"riskNotes\":[\"事實、版權或引用風險\"]}。評分標準：原始觀點與洞察 30、可延伸深度 25、實用性 20、可取得可信來源 15、時效與討論價值 10。shouldWrite 僅在 score >= 70 時為 true。不得捏造原文不存在的事實。`;\n\nconst userPrompt = JSON.stringify({\n  title: item.title,\n  url: item.url,\n  source: item.source,\n  language: item.language,\n  content: item.content\n});\n\nreturn [{\n  json: {\n    contentItem: item,\n    systemPrompt,\n    userPrompt\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,80],"id":"35f3e78b-4420-4a41-b40a-02000ff0f667","name":"BuildAnalyzerPrompt"},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{({\n  model: 'openrouter/free',\n  messages: [\n    {\n      role: 'system',\n      content: $json.systemPrompt\n    },\n    {\n      role: 'user',\n      content: $json.userPrompt\n    }\n  ],\n  temperature: 0.2\n})}}","options":{"response":{"response":{"fullResponse":true,"neverError":true}},"timeout":120000},"authentication":"genericCredentialType","genericAuthType":"httpBearerAuth"},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[736,80],"id":"88a64431-316c-41d9-9c46-702852b79ff4","name":"CallOpenRouter"},{"parameters":{"jsCode":"// Parse the primary response and decide whether fallback is required.\nconst response = $input.first().json;\nconst original = $('BuildAnalyzerPrompt').first().json.contentItem;\n\nconst statusCode = response.statusCode ?? 0;\nconst raw = response.body?.choices?.[0]?.message?.content ?? '';\nlet analysis = null;\nlet parseError = null;\n\ntry {\n  analysis = JSON.parse(String(raw).replace(/^```json\\s*|\\s*```$/g, '').trim());\n} catch (error) {\n  parseError = error.message;\n}\n\nconst valid = statusCode >= 200 &&\n  statusCode < 300 &&\n  analysis &&\n  Number.isFinite(Number(analysis.score)) &&\n  typeof analysis.shouldWrite === 'boolean';\n\nreturn [{\n  json: {\n    original,\n    provider: 'openrouter',\n    statusCode,\n    raw,\n    analysis,\n    valid,\n    fallbackRequired: !valid,\n    error: parseError\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[992,80],"id":"7cc42cfd-cd51-46de-89e9-634e7d5b9087","name":"ParsePrimaryResponse"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3435791b-1f90-4f6d-b6ad-f383fccc8ea2","leftValue":"={{ $json.fallbackRequired }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1248,80],"id":"e634a340-7b0a-4763-af16-efdc2ccc82b0","name":"NeedsFallback"},{"parameters":{"method":"POST","url":"https://integrate.api.nvidia.com/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{({\n  model: 'meta/llama-3.1-70b-instruct',\n  messages: [\n    {\n      role: 'system',\n      content: $('BuildAnalyzerPrompt').first().json.systemPrompt\n    },\n    {\n      role: 'user',\n      content: $('BuildAnalyzerPrompt').first().json.userPrompt\n    }\n  ],\n  temperature: 0.2\n})}}","options":{"response":{"response":{"fullResponse":true,"neverError":true}},"timeout":120000},"authentication":"genericCredentialType","genericAuthType":"httpBearerAuth"},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1504,-16],"id":"ad1cb915-e9a5-4f67-b339-69c1d87872cd","name":"CallNvidiaNim"},{"parameters":{"jsCode":"// Parse the NVIDIA fallback response.\nconst response = $input.first().json;\nconst original = $('BuildAnalyzerPrompt').first().json.contentItem;\nconst statusCode = response.statusCode ?? 0;\nconst raw = response.body?.choices?.[0]?.message?.content ?? '';\n\nlet analysis;\ntry {\n  analysis = JSON.parse(String(raw).replace(/^```json\\s*|\\s*```$/g, '').trim());\n} catch (error) {\n  throw new Error(`NVIDIA response is not valid JSON: ${error.message}`);\n}\n\nif (!(statusCode >= 200 && statusCode < 300)) {\n  throw new Error(`NVIDIA request failed with status ${statusCode}`);\n}\n\nreturn [{\n  json: {\n    original,\n    provider: 'nvidia',\n    analysis\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,-16],"id":"c31bf4fb-4e60-45f1-9e61-456cf1ec7658","name":"ParseFallbackResponse"},{"parameters":{"jsCode":"// Merge the selected analysis into the normalized content contract.\nconst item = $input.first().json;\nconst original = item.original;\nconst analysis = item.analysis;\n\nconst score = Math.max(0, Math.min(100, Number(analysis.score ?? 0)));\nconst shouldWrite = score >= 70 && analysis.shouldWrite === true;\n\nreturn [{\n  json: {\n    ...original,\n    score,\n    shouldWrite,\n    analysis: {\n      topic: String(analysis.topic ?? ''),\n      coreIdea: String(analysis.coreIdea ?? ''),\n      audience: String(analysis.audience ?? ''),\n      angles: Array.isArray(analysis.angles) ? analysis.angles : [],\n      keywords: Array.isArray(analysis.keywords) ? analysis.keywords : [],\n      researchQuestions: Array.isArray(analysis.researchQuestions) ? analysis.researchQuestions : [],\n      riskNotes: Array.isArray(analysis.riskNotes) ? analysis.riskNotes : []\n    },\n    metadata: {\n      ...original.metadata,\n      analyzer: '03-analyze-content',\n      analyzerVersion: '0.3.0',\n      provider: item.provider,\n      status: 'analyzed',\n      analyzedAt: new Date().toISOString()\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,176],"id":"74bc125f-5206-4c19-b7af-56c6b955abc3","name":"FinalizeAnalysis"}],"connections":{"ManualTest":{"main":[[{"node":"BuildSampleContent","type":"main","index":0}]]},"BuildSampleContent":{"main":[[{"node":"BuildAnalyzerPrompt","type":"main","index":0}]]},"BuildAnalyzerPrompt":{"main":[[{"node":"CallOpenRouter","type":"main","index":0}]]},"CallOpenRouter":{"main":[[{"node":"ParsePrimaryResponse","type":"main","index":0}]]},"ParsePrimaryResponse":{"main":[[{"node":"NeedsFallback","type":"main","index":0}]]},"NeedsFallback":{"main":[[{"node":"CallNvidiaNim","type":"main","index":0}],[{"node":"FinalizeAnalysis","type":"main","index":0}]]},"CallNvidiaNim":{"main":[[{"node":"ParseFallbackResponse","type":"main","index":0}]]},"ParseFallbackResponse":{"main":[[{"node":"FinalizeAnalysis","type":"main","index":0}]]}},"pinData":{},"settings":{"timezone":"Asia/Taipei","executionOrder":"v1"},"meta":{"instanceId":"77a976b121cfd3aa989f7edc4adf3d5f53344addf28f8e019d7604d7bc201cb2"}}