workflows/04-research-agent.json
{"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,96],"id":"19a58f3d-23cf-4d84-b0cc-de93ac7f105a","name":"ManualTest"},{"parameters":{"httpMethod":"POST","path":"phoenix/research","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,-96],"id":"0145c545-600a-407e-893b-4ca65eb67953","name":"ResearchWebhook","webhookId":"ff983e20-353b-4136-a7c8-fa0e3008ec10"},{"parameters":{"jsCode":"// Provide a deterministic analyzed content item for manual testing.\nreturn [{\n  json: {\n    id: 'manual:https://example.com/ai-agent',\n    source: 'manual',\n    title: 'AI Agent 與工作流',\n    url: 'https://example.com/ai-agent',\n    language: 'zh-TW',\n    content: 'AI Agent 不應只負責生成文字，也應根據工具結果規劃下一步。',\n    images: [],\n    tags: ['AI', 'n8n'],\n    score: 85,\n    shouldWrite: true,\n    analysis: {\n      topic: 'AI Agent',\n      coreIdea: 'AI Agent 應根據工具結果規劃下一步',\n      audience: 'n8n 與自動化使用者',\n      angles: ['Agent orchestration', 'Tool use'],\n      keywords: ['AI Agent', 'workflow automation'],\n      researchQuestions: ['什麼是 AI Agent？', 'AI Agent 如何使用工具？'],\n      riskNotes: []\n    },\n    metadata: {\n      createdAt: new Date().toISOString(),\n      collector: 'manual-test',\n      version: '1.0.0',\n      status: 'analyzed'\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,96],"id":"737d5cad-ec6d-4e86-988a-e5fcdae50168","name":"BuildSampleAnalysis"},{"parameters":{"jsCode":"// Build a concise Wikipedia search query from the analyzed content.\nconst input = $input.first().json;\nconst body = input.body ?? input;\n\nif (!body.analysis?.topic) {\n  throw new Error('analysis.topic is required');\n}\n\nconst terms = [\n  body.analysis.topic,\n  ...(Array.isArray(body.analysis.keywords) ? body.analysis.keywords.slice(0, 2) : [])\n].filter(Boolean);\n\nconst query = [...new Set(terms)].join(' ');\n\nreturn [{\n  json: {\n    original: body,\n    query,\n    language: body.language || 'zh-TW'\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,0],"id":"6efb6a8a-8c98-4d9c-881a-29040c233b4f","name":"BuildResearchQuery"},{"parameters":{"method":"GET","url":"https://zh.wikipedia.org/w/api.php","sendQuery":true,"queryParameters":{"parameters":[{"name":"action","value":"query"},{"name":"generator","value":"search"},{"name":"gsrsearch","value":"={{ $json.query }}"},{"name":"gsrlimit","value":"5"},{"name":"prop","value":"extracts|info"},{"name":"exintro","value":"1"},{"name":"explaintext","value":"1"},{"name":"inprop","value":"url"},{"name":"format","value":"json"},{"name":"origin","value":"*"}]},"options":{"timeout":120000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[752,0],"id":"5d82dc93-1959-4108-999e-aa01006e52ac","name":"SearchWikipedia"},{"parameters":{"jsCode":"// Convert Wikipedia API output into compact research sources.\nconst response = $input.first().json;\nconst original = $('BuildResearchQuery').first().json.original;\nconst query = $('BuildResearchQuery').first().json.query;\nconst pages = Object.values(response.query?.pages ?? {});\n\nconst sources = pages\n  .map((page) => ({\n    title: String(page.title ?? ''),\n    url: String(page.fullurl ?? ''),\n    excerpt: String(page.extract ?? '').trim()\n  }))\n  .filter((source) => source.title && source.url && source.excerpt)\n  .slice(0, 5);\n\nreturn [{\n  json: {\n    original,\n    research: {\n      query,\n      sources,\n      sourceCount: sources.length\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,0],"id":"c3fe2ec5-c0ee-4f25-8c45-2f0a7386380d","name":"ParseWikipediaResults"},{"parameters":{"jsCode":"// Merge the research context into the content item.\nconst input = $input.first().json;\nconst original = input.original;\nconst research = input.research;\n\nreturn [{\n  json: {\n    ...original,\n    research: {\n      query: research.query,\n      sources: research.sources,\n      sourceCount: research.sourceCount,\n      notes: research.sourceCount\n        ? 'Wikipedia context collected. Verify time-sensitive claims against official sources later.'\n        : 'No Wikipedia result found.'\n    },\n    metadata: {\n      ...original.metadata,\n      researcher: '04-research-agent',\n      researcherVersion: '0.4.0',\n      status: 'researched',\n      researchedAt: new Date().toISOString()\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1264,0],"id":"d73bba1a-64cf-48a6-93d5-f2e6d673a25e","name":"FinalizeResearch"}],"connections":{"ManualTest":{"main":[[{"node":"BuildSampleAnalysis","type":"main","index":0}]]},"ResearchWebhook":{"main":[[{"node":"BuildResearchQuery","type":"main","index":0}]]},"BuildSampleAnalysis":{"main":[[{"node":"BuildResearchQuery","type":"main","index":0}]]},"BuildResearchQuery":{"main":[[{"node":"SearchWikipedia","type":"main","index":0}]]},"SearchWikipedia":{"main":[[{"node":"ParseWikipediaResults","type":"main","index":0}]]},"ParseWikipediaResults":{"main":[[{"node":"FinalizeResearch","type":"main","index":0}]]}},"pinData":{},"settings":{"timezone":"Asia/Taipei","executionOrder":"v1"},"meta":{"instanceId":"77a976b121cfd3aa989f7edc4adf3d5f53344addf28f8e019d7604d7bc201cb2"}}