workflows/05-style-rag-v0.5.2.json
{"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,96],"id":"94116ab7-d3fe-4ccb-928d-504ad03e1d66","name":"ManualTest"},{"parameters":{"httpMethod":"POST","path":"phoenix/style-rag","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,-96],"id":"6d43e46e-4571-4094-86ce-81acd017d76b","name":"StyleRagWebhook","webhookId":"f45c41a6-9038-440e-925a-504f8ab3038a"},{"parameters":{"jsCode":"// Provide a researched content item for manual testing.\nreturn [{\n  json: {\n    id: 'manual:https://example.com/ai-agent',\n    source: 'manual',\n    title: 'AI Agent 與工作流',\n    url: 'https://example.com/ai-agent',\n    language: 'zh-TW',\n    content: 'AI Agent 不應只負責生成文字，也應根據工具結果規劃下一步。',\n    score: 85,\n    shouldWrite: true,\n    analysis: {\n      topic: 'AI Agent',\n      coreIdea: 'AI Agent 應根據工具結果規劃下一步',\n      audience: 'n8n 與自動化使用者',\n      angles: ['Agent orchestration'],\n      keywords: ['AI Agent', 'workflow automation'],\n      researchQuestions: ['什麼是 AI Agent？'],\n      riskNotes: []\n    },\n    research: {\n      query: 'AI Agent workflow automation',\n      sources: [],\n      sourceCount: 0,\n      notes: ''\n    },\n    metadata: {\n      createdAt: new Date().toISOString(),\n      status: 'researched'\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,96],"id":"5f1b3628-8d36-466e-9333-46a95dafbedf","name":"BuildSampleResearch"},{"parameters":{"assignments":{"assignments":[{"id":"591ae07c-3448-4db2-8b95-95336db744c1","name":"qdrantBaseUrl","value":"https://YOUR-QDRANT-CLUSTER.cloud.qdrant.io","type":"string"},{"id":"5a307c65-ff1e-4e63-a117-39ad2c6291a3","name":"collection","value":"medium_style_chunks_v2","type":"string"},{"id":"946dd3bc-6145-40ae-bdc2-a1adbbbda16f","name":"topK","value":6,"type":"number"},{"id":"811761e6-6a30-4485-86c9-55ef8ac91a9b","name":"scoreThreshold","value":0.55,"type":"number"},{"id":"143ef600-86b1-4f1f-b022-9a9e8a391796","name":"embeddingModel","value":"nvidia/llama-nemotron-embed-1b-v2","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[496,0],"id":"17a9f0ed-1e48-46fd-b684-a6743c3837a9","name":"SetRagConfig"},{"parameters":{"jsCode":"// Build a semantic query representing the article topic and intended angle.\nconst input = $input.first().json;\nconst body = input.body ?? input;\n\nif (!body.analysis?.topic || !body.analysis?.coreIdea) {\n  throw new Error('analysis.topic and analysis.coreIdea are required');\n}\n\nif (String(body.qdrantBaseUrl).includes('YOUR-QDRANT-CLUSTER')) {\n  throw new Error('SetRagConfig.qdrantBaseUrl must be replaced with your Qdrant Cloud URL');\n}\n\nconst queryText = [\n  body.analysis.topic,\n  body.analysis.coreIdea,\n  ...(Array.isArray(body.analysis.angles) ? body.analysis.angles.slice(0, 3) : []),\n  ...(Array.isArray(body.analysis.keywords) ? body.analysis.keywords.slice(0, 5) : [])\n].filter(Boolean).join('\\n');\n\nreturn [{\n  json: {\n    original: body,\n    queryText,\n    qdrantBaseUrl: String(body.qdrantBaseUrl).replace(/\\/$/, ''),\n    collection: body.collection,\n    topK: Number(body.topK),\n    scoreThreshold: Number(body.scoreThreshold),\n    embeddingModel: body.embeddingModel\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,0],"id":"a1f88641-2b8d-4516-8293-8942438d6e5d","name":"BuildStyleQuery"},{"parameters":{"method":"POST","url":"https://integrate.api.nvidia.com/v1/embeddings","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{({\n  model: $json.embeddingModel,\n  input: [$json.queryText],\n  input_type: 'query',\n  encoding_format: 'float',\n  truncate: 'END'\n})}}","options":{"timeout":120000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2272,0],"id":"c3f13968-c3e4-4c7d-a16a-d3c2712387d7","name":"CreateQueryEmbedding"},{"parameters":{"jsCode":"// Validate and extract the NVIDIA embedding vector.\nconst response = $input.first().json;\nconst request = $('BuildStyleQuery').first().json;\nconst vector = response.data?.[0]?.embedding;\n\nif (!Array.isArray(vector) || vector.length === 0) {\n  throw new Error('NVIDIA embedding response does not contain data[0].embedding');\n}\n\nreturn [{\n  json: {\n    ...request,\n    vector\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2528,0],"id":"07fd02d1-a0b6-4330-8731-628f41f784b9","name":"ParseQueryEmbedding"},{"parameters":{"method":"POST","url":"={{ $json.qdrantBaseUrl + '/collections/' + encodeURIComponent($json.collection) + '/points/query' }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{({\n  query: $json.vector,\n  limit: $json.topK,\n  score_threshold: $json.scoreThreshold,\n  with_payload: true,\n  with_vector: false\n})}}","options":{"timeout":120000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2784,0],"id":"74404e41-e01c-4349-9bcc-ff3cd252c9eb","name":"QueryQdrantStyle"},{"parameters":{"jsCode":"// Merge retrieved style examples into the researched content contract.\nconst response = $input.first().json;\nconst request = $('ParseQueryEmbedding').first().json;\nconst original = request.original;\nconst points = response.result?.points ?? response.result ?? [];\n\nconst matches = (Array.isArray(points) ? points : [])\n  .map((point) => ({\n    id: String(point.id ?? ''),\n    score: Number(point.score ?? 0),\n    title: String(point.payload?.title ?? ''),\n    url: String(point.payload?.url ?? ''),\n    text: String(point.payload?.text ?? point.payload?.content ?? ''),\n    section: String(point.payload?.section ?? ''),\n    styleTags: Array.isArray(point.payload?.style_tags) ? point.payload.style_tags : []\n  }))\n  .filter((match) => match.text)\n  .slice(0, request.topK);\n\nreturn [{\n  json: {\n    ...original,\n    styleRag: {\n      query: request.queryText,\n      model: request.embeddingModel,\n      collection: request.collection,\n      matches,\n      matchCount: matches.length\n    },\n    metadata: {\n      ...original.metadata,\n      styleRetriever: '05-style-rag',\n      styleRetrieverVersion: '0.5.2',\n      status: 'style_retrieved',\n      styleRetrievedAt: new Date().toISOString()\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3040,0],"id":"c49394fe-b69c-4589-af02-52f78c8d78c0","name":"FinalizeStyleContext"},{"parameters":{"method":"GET","url":"={{ $json.qdrantBaseUrl + '/collections/' + encodeURIComponent($json.collection) }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true}},"timeout":120000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1008,-128],"id":"77ed2531-cad7-4a1e-83ef-08fb28c836c0","name":"CheckQdrantCollection"},{"parameters":{"jsCode":"// Determine whether the Qdrant collection exists.\nconst response = $input.first().json;\nconst request = $('BuildStyleQuery').first().json;\nconst statusCode = response.statusCode ?? 0;\n\nreturn [{\n  json: {\n    ...request,\n    collectionExists: statusCode >= 200 && statusCode < 300,\n    collectionStatusCode: statusCode\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1264,-128],"id":"6de53fad-e19e-43e4-978f-268c7546d691","name":"ParseCollectionStatus"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5826611e-8964-42da-a4a4-624fa01ff8e1","leftValue":"={{ $json.collectionExists }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1520,-128],"id":"5daa7711-da57-4096-bd82-66e92cc68b89","name":"CollectionExists"},{"parameters":{"method":"PUT","url":"={{ $json.qdrantBaseUrl + '/collections/' + encodeURIComponent($json.collection) }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{({\n  vectors: {\n    size: 2048,\n    distance: 'Cosine'\n  }\n})}}","options":{"timeout":120000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,-208],"id":"d75cd6df-c40b-4539-bfa7-a0673d1f14a8","name":"CreateQdrantCollection"},{"parameters":{"jsCode":"// Restore the style query context after collection creation.\nconst request = $('BuildStyleQuery').first().json;\nreturn [{ json: request }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2016,-128],"id":"d0995e0d-ca01-42fd-be33-b32f5abfca04","name":"ContinueStyleQuery"}],"connections":{"ManualTest":{"main":[[{"node":"BuildSampleResearch","type":"main","index":0}]]},"StyleRagWebhook":{"main":[[{"node":"SetRagConfig","type":"main","index":0}]]},"BuildSampleResearch":{"main":[[{"node":"SetRagConfig","type":"main","index":0}]]},"SetRagConfig":{"main":[[{"node":"BuildStyleQuery","type":"main","index":0}]]},"BuildStyleQuery":{"main":[[{"node":"CheckQdrantCollection","type":"main","index":0}]]},"CreateQueryEmbedding":{"main":[[{"node":"ParseQueryEmbedding","type":"main","index":0}]]},"ParseQueryEmbedding":{"main":[[{"node":"QueryQdrantStyle","type":"main","index":0}]]},"QueryQdrantStyle":{"main":[[{"node":"FinalizeStyleContext","type":"main","index":0}]]},"CheckQdrantCollection":{"main":[[{"node":"ParseCollectionStatus","type":"main","index":0}]]},"ParseCollectionStatus":{"main":[[{"node":"CollectionExists","type":"main","index":0}]]},"CollectionExists":{"main":[[{"node":"ContinueStyleQuery","type":"main","index":0}],[{"node":"CreateQdrantCollection","type":"main","index":0}]]},"CreateQdrantCollection":{"main":[[{"node":"ContinueStyleQuery","type":"main","index":0}]]},"ContinueStyleQuery":{"main":[[{"node":"CreateQueryEmbedding","type":"main","index":0}]]}},"pinData":{},"settings":{"timezone":"Asia/Taipei","executionOrder":"v1"},"meta":{"instanceId":"77a976b121cfd3aa989f7edc4adf3d5f53344addf28f8e019d7604d7bc201cb2"}}