workflows/05a-medium-style-importer.json
{"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"d31ba4fa-adeb-40a2-8ea9-7e388fd9b551","name":"ManualTest"},{"parameters":{"assignments":{"assignments":[{"id":"7e73b289-e157-4236-a0a6-96dbd4940b80","name":"mediumRssUrl","value":"https://medium.com/feed/@YOUR_MEDIUM_USERNAME","type":"string"},{"id":"fa0c86da-d077-45b7-9e05-a29ebb57f0a0","name":"qdrantBaseUrl","value":"https://YOUR-QDRANT-CLUSTER.cloud.qdrant.io","type":"string"},{"id":"9ae563bd-2472-4f17-8fcf-444ab9df5cd2","name":"collection","value":"medium_style_chunks_v2","type":"string"},{"id":"26e209a7-6450-4c7d-bad6-a99765480282","name":"embeddingModel","value":"nvidia/llama-nemotron-embed-1b-v2","type":"string"},{"id":"275632a9-c700-4bb4-b9b6-29be80415ffa","name":"chunkSize","value":900,"type":"number"},{"id":"06f976f6-aa5e-4a40-a4d0-75160be86bf5","name":"chunkOverlap","value":120,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,0],"id":"b3a54bd8-df5e-49e5-8f79-7c17842ff3ef","name":"SetImporterConfig"},{"parameters":{"method":"GET","url":"={{ $json.mediumRssUrl }}","options":{"response":{"response":{"responseFormat":"text"}},"timeout":120000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[496,0],"id":"eb2c595e-21a3-4e6c-826f-55ea1b2b760f","name":"FetchMediumRss"},{"parameters":{"jsCode":"// Parse Medium RSS XML without external modules.\nconst config = $('SetImporterConfig').first().json;\nconst raw = $input.first().json;\nconst xml = String(raw?.data ?? raw?.body ?? raw ?? '');\n\nif (config.mediumRssUrl.includes('YOUR_MEDIUM_USERNAME')) {\n  throw new Error('SetImporterConfig.mediumRssUrl must be replaced with your Medium RSS URL');\n}\nif (config.qdrantBaseUrl.includes('YOUR-QDRANT-CLUSTER')) {\n  throw new Error('SetImporterConfig.qdrantBaseUrl must be replaced with your Qdrant Cloud URL');\n}\n\nconst decode = (value) => String(value ?? '')\n  .replace(/<!\\[CDATA\\[|\\]\\]>/g, '')\n  .replace(/&lt;/g, '<')\n  .replace(/&gt;/g, '>')\n  .replace(/&amp;/g, '&')\n  .replace(/&quot;/g, '\"')\n  .replace(/&#39;/g, \"'\");\n\nconst extract = (block, tag) => {\n  const match = block.match(new RegExp(`<${tag}[^>]*>([\\\\s\\\\S]*?)<\\\\/${tag}>`, 'i'));\n  return decode(match?.[1] ?? '').trim();\n};\n\nconst stripHtml = (html) => decode(html)\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n  .replace(/<br\\s*\\/?>/gi, '\\n')\n  .replace(/<\\/p>/gi, '\\n\\n')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/[ \\t]+/g, ' ')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim();\n\nconst blocks = xml.match(/<item>[\\s\\S]*?<\\/item>/gi) ?? [];\n\nreturn blocks.map((block) => {\n  const title = extract(block, 'title');\n  const url = extract(block, 'link');\n  const publishedAt = extract(block, 'pubDate');\n  const encoded = extract(block, 'content:encoded') || extract(block, 'description');\n  const text = stripHtml(encoded);\n\n  return {\n    json: {\n      title,\n      url,\n      publishedAt,\n      text,\n      qdrantBaseUrl: String(config.qdrantBaseUrl).replace(/\\/$/, ''),\n      collection: config.collection,\n      embeddingModel: config.embeddingModel,\n      chunkSize: Number(config.chunkSize),\n      chunkOverlap: Number(config.chunkOverlap)\n    }\n  };\n}).filter((item) => item.json.url && item.json.text);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,0],"id":"6da45fdd-e87c-4d43-b230-8d0a10e71730","name":"ParseMediumRss"},{"parameters":{"jsCode":"// Split every article into overlapping text chunks.\nconst output = [];\n\nconst makeUuid = (text) => {\n  let h1 = 0x811c9dc5;\n  let h2 = 0x01000193;\n  for (let i = 0; i < text.length; i++) {\n    h1 = Math.imul(h1 ^ text.charCodeAt(i), 16777619);\n    h2 = Math.imul(h2 ^ text.charCodeAt(i), 2246822519);\n  }\n  const hex = (value, size) => (value >>> 0).toString(16).padStart(size, '0').slice(-size);\n  return `${hex(h1,8)}-${hex(h2,4)}-4${hex(h1^h2,3)}-8${hex(h2^0xabcdef,3)}-${hex(h1+h2,8)}${hex(h1^0x12345678,4)}`;\n};\n\nfor (const item of $input.all()) {\n  const data = item.json;\n  const size = Math.max(200, data.chunkSize);\n  const overlap = Math.max(0, Math.min(data.chunkOverlap, size - 1));\n  const step = size - overlap;\n\n  for (let start = 0, index = 0; start < data.text.length; start += step, index++) {\n    const text = data.text.slice(start, start + size).trim();\n    if (text.length < 80) continue;\n\n    output.push({\n      json: {\n        pointId: makeUuid(`${data.url}#${index}`),\n        title: data.title,\n        url: data.url,\n        publishedAt: data.publishedAt,\n        section: `chunk-${index + 1}`,\n        text,\n        qdrantBaseUrl: data.qdrantBaseUrl,\n        collection: data.collection,\n        embeddingModel: data.embeddingModel\n      }\n    });\n  }\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,0],"id":"b5321182-eecd-4c19-b039-8d55d29efe16","name":"ChunkArticles"},{"parameters":{"method":"POST","url":"https://integrate.api.nvidia.com/v1/embeddings","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{({\n  model: $json.embeddingModel,\n  input: [$json.text],\n  input_type: 'passage',\n  encoding_format: 'float',\n  truncate: 'END'\n})}}","options":{"timeout":120000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1264,0],"id":"be9adb96-6944-4f65-907a-4e316208c856","name":"CreatePassageEmbedding"},{"parameters":{"jsCode":"// Attach the embedding vector to the original chunk.\nconst response = $input.first().json;\nconst chunk = $('ChunkArticles').item.json;\nconst vector = response.data?.[0]?.embedding;\n\nif (!Array.isArray(vector) || vector.length === 0) {\n  throw new Error('NVIDIA embedding response does not contain data[0].embedding');\n}\n\nreturn [{ json: { ...chunk, vector } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,0],"id":"a96f1c78-ed54-43a4-af1f-954a37fd4701","name":"AttachEmbedding"},{"parameters":{"method":"PUT","url":"={{ $json.qdrantBaseUrl + '/collections/' + encodeURIComponent($json.collection) + '/points?wait=true' }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{({\n  points: [\n    {\n      id: $json.pointId,\n      vector: $json.vector,\n      payload: {\n        title: $json.title,\n        url: $json.url,\n        published_at: $json.publishedAt,\n        section: $json.section,\n        text: $json.text,\n        style_tags: []\n      }\n    }\n  ]\n})}}","options":{"timeout":120000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1776,0],"id":"b71df42f-6e20-4b71-9fc1-ff9e699644e4","name":"UpsertQdrantPoint"},{"parameters":{"jsCode":"// Return a compact import result for each chunk.\nconst response = $input.first().json;\nconst chunk = $('AttachEmbedding').item.json;\n\nreturn [{\n  json: {\n    pointId: chunk.pointId,\n    title: chunk.title,\n    url: chunk.url,\n    section: chunk.section,\n    collection: chunk.collection,\n    operationStatus: response.status ?? response.result?.status ?? 'completed',\n    metadata: {\n      workflow: '05a-medium-style-importer',\n      version: '0.5.0',\n      embeddingModel: chunk.embeddingModel,\n      importedAt: new Date().toISOString()\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2032,0],"id":"20a7f2c4-a0b3-4122-bbee-844f6c2ff16b","name":"FinalizeImport"}],"connections":{"ManualTest":{"main":[[{"node":"SetImporterConfig","type":"main","index":0}]]},"SetImporterConfig":{"main":[[{"node":"FetchMediumRss","type":"main","index":0}]]},"FetchMediumRss":{"main":[[{"node":"ParseMediumRss","type":"main","index":0}]]},"ParseMediumRss":{"main":[[{"node":"ChunkArticles","type":"main","index":0}]]},"ChunkArticles":{"main":[[{"node":"CreatePassageEmbedding","type":"main","index":0}]]},"CreatePassageEmbedding":{"main":[[{"node":"AttachEmbedding","type":"main","index":0}]]},"AttachEmbedding":{"main":[[{"node":"UpsertQdrantPoint","type":"main","index":0}]]},"UpsertQdrantPoint":{"main":[[{"node":"FinalizeImport","type":"main","index":0}]]}},"pinData":{},"settings":{"timezone":"Asia/Taipei","executionOrder":"v1"},"meta":{"instanceId":"77a976b121cfd3aa989f7edc4adf3d5f53344addf28f8e019d7604d7bc201cb2"}}