workflows/06-writer-agent.json
{"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,96],"id":"1f694857-c363-4dda-94a1-736e4be0b2e4","name":"ManualTest"},{"parameters":{"httpMethod":"POST","path":"phoenix/write","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,-96],"id":"5fe44d4a-bb4a-4e90-b7ce-b710f3659ea8","name":"WriterWebhook","webhookId":"a562b805-cc2f-443b-a713-ad2c290327a7"},{"parameters":{"jsCode":"// Provide a deterministic style-enriched item for manual testing.\nreturn [{\n  json: {\n    id: 'manual:https://example.com/ai-agent',\n    source: 'manual',\n    title: 'AI Agent 與工作流',\n    url: 'https://example.com/ai-agent',\n    language: 'zh-TW',\n    content: 'AI Agent 不應只負責生成文字，也應根據工具結果規劃下一步。',\n    score: 85,\n    shouldWrite: true,\n    analysis: {\n      topic: 'AI Agent',\n      coreIdea: 'AI Agent 應根據工具結果規劃下一步',\n      audience: 'n8n 與自動化使用者',\n      angles: ['Agent orchestration', 'Tool use'],\n      keywords: ['AI Agent', 'n8n', 'workflow automation'],\n      researchQuestions: ['什麼是 AI Agent？'],\n      riskNotes: []\n    },\n    research: {\n      query: 'AI Agent workflow automation',\n      sources: [\n        {\n          title: '人工智慧代理',\n          url: 'https://zh.wikipedia.org/wiki/...',\n          excerpt: 'AI Agent 會感知環境並採取行動。'\n        }\n      ],\n      sourceCount: 1,\n      notes: 'Verify time-sensitive claims against official sources.'\n    },\n    styleRag: {\n      query: 'AI Agent',\n      model: 'nvidia/llama-nemotron-embed-1b-v2',\n      collection: 'medium_style_chunks_v2',\n      matches: [\n        {\n          id: 'sample-1',\n          score: 0.82,\n          title: '過去文章範例',\n          url: 'https://medium.com/@example/sample',\n          text: '我通常會先提出一個具體問題，再逐步拆解背後的機制與可行做法。',\n          section: 'chunk-1',\n          styleTags: ['question-opening', 'short-paragraphs']\n        }\n      ],\n      matchCount: 1\n    },\n    metadata: {\n      status: 'style_retrieved'\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,96],"id":"b52fbbe7-19f8-43c0-b161-9e6c7a115d1c","name":"BuildSampleStyleContext"},{"parameters":{"jsCode":"// Build a constrained long-form writing prompt from content, research, and style examples.\nconst input = $input.first().json;\nconst body = input.body ?? input;\n\nif (!body.shouldWrite) {\n  throw new Error('Input content is not approved for writing');\n}\nif (!body.analysis?.topic || !body.analysis?.coreIdea) {\n  throw new Error('analysis.topic and analysis.coreIdea are required');\n}\n\nconst styleExamples = (body.styleRag?.matches ?? [])\n  .slice(0, 6)\n  .map((match, index) => ({\n    index: index + 1,\n    title: match.title,\n    excerpt: match.text,\n    styleTags: match.styleTags ?? []\n  }));\n\nconst researchSources = (body.research?.sources ?? [])\n  .slice(0, 6)\n  .map((source, index) => ({\n    index: index + 1,\n    title: source.title,\n    url: source.url,\n    excerpt: source.excerpt\n  }));\n\nconst systemPrompt = `你是 Phoenix AI Content Engine 的繁體中文長文作者。你的任務是把短內容重組為 Medium 深度文章。你必須遵守以下規則：\n\n1. 文章使用繁體中文。\n2. 不要聲稱自己就是原作者，也不要聲稱百分之百複製某位作者。\n3. 可參考歷史文章的節奏、段落長度、開場方式與論證方式，但不得大段複製歷史文章。\n4. 不得捏造來源、數據、人物、日期或引用。\n5. 若研究資料不足，明確使用保守語氣，不要硬補事實。\n6. 文章需要有清楚的標題、導言、至少三個主段落、具體案例或實作建議、結論與 CTA。\n7. 輸出只能是合法 JSON，不要使用 Markdown code fence。\n\n輸出格式：\n{\n  \"title\": \"文章標題\",\n  \"subtitle\": \"副標題\",\n  \"summary\": \"120 字內摘要\",\n  \"tags\": [\"標籤\"],\n  \"markdown\": \"# 標題\\n\\n完整文章\",\n  \"wordCountEstimate\": 0\n}`;\n\nconst userPrompt = JSON.stringify({\n  task: '將以下內容重製為 1800 至 3000 字的 Medium 深度長文',\n  original: {\n    title: body.title,\n    url: body.url,\n    content: body.content\n  },\n  analysis: body.analysis,\n  research: {\n    sources: researchSources,\n    notes: body.research?.notes ?? ''\n  },\n  styleContext: {\n    examples: styleExamples,\n    instruction: '只學習文風特徵，不得複製原句。'\n  }\n});\n\nreturn [{\n  json: {\n    original: body,\n    systemPrompt,\n    userPrompt\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,0],"id":"9bec154b-f3ce-4157-b31b-3c38ed844ab9","name":"BuildWriterPrompt"},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{({\n  model: 'openrouter/free',\n  messages: [\n    {\n      role: 'system',\n      content: $json.systemPrompt\n    },\n    {\n      role: 'user',\n      content: $json.userPrompt\n    }\n  ],\n  temperature: 0.7\n})}}","options":{"response":{"response":{"fullResponse":true,"neverError":true}},"timeout":180000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[752,0],"id":"13a12775-8eec-49dc-83f9-b374946c6778","name":"CallOpenRouterWriter"},{"parameters":{"jsCode":"// Parse and validate the OpenRouter writer response.\nconst response = $input.first().json;\nconst original = $('BuildWriterPrompt').first().json.original;\nconst statusCode = response.statusCode ?? 0;\nconst raw = response.body?.choices?.[0]?.message?.content ?? '';\n\nlet draft = null;\nlet parseError = null;\n\ntry {\n  draft = JSON.parse(String(raw).replace(/^```json\\s*|\\s*```$/g, '').trim());\n} catch (error) {\n  parseError = error.message;\n}\n\nconst valid = statusCode >= 200 &&\n  statusCode < 300 &&\n  draft &&\n  typeof draft.title === 'string' &&\n  typeof draft.markdown === 'string' &&\n  draft.markdown.length >= 500;\n\nreturn [{\n  json: {\n    original,\n    provider: 'openrouter',\n    statusCode,\n    raw,\n    draft,\n    valid,\n    fallbackRequired: !valid,\n    error: parseError\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,0],"id":"2c22aee9-468c-49a8-a071-d5ae94dc4735","name":"ParsePrimaryDraft"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"596ebb02-f0cb-476a-adec-d1af9f1af1df","leftValue":"={{ $json.fallbackRequired }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1264,0],"id":"a6df35bd-2427-410c-a8ab-3c444102d0db","name":"NeedsWriterFallback"},{"parameters":{"method":"POST","url":"https://integrate.api.nvidia.com/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{({\n  model: 'meta/llama-3.1-70b-instruct',\n  messages: [\n    {\n      role: 'system',\n      content: $('BuildWriterPrompt').first().json.systemPrompt\n    },\n    {\n      role: 'user',\n      content: $('BuildWriterPrompt').first().json.userPrompt\n    }\n  ],\n  temperature: 0.7\n})}}","options":{"response":{"response":{"fullResponse":true,"neverError":true}},"timeout":180000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,-96],"id":"215aec90-bdef-41a3-86ed-80b1de646b7b","name":"CallNvidiaWriter"},{"parameters":{"jsCode":"// Parse and validate the NVIDIA fallback draft.\nconst response = $input.first().json;\nconst original = $('BuildWriterPrompt').first().json.original;\nconst statusCode = response.statusCode ?? 0;\nconst raw = response.body?.choices?.[0]?.message?.content ?? '';\n\nlet draft;\ntry {\n  draft = JSON.parse(String(raw).replace(/^```json\\s*|\\s*```$/g, '').trim());\n} catch (error) {\n  throw new Error(`NVIDIA writer response is not valid JSON: ${error.message}`);\n}\n\nif (!(statusCode >= 200 && statusCode < 300)) {\n  throw new Error(`NVIDIA writer request failed with status ${statusCode}`);\n}\n\nif (typeof draft.title !== 'string' || typeof draft.markdown !== 'string' || draft.markdown.length < 500) {\n  throw new Error('NVIDIA writer response is missing title or a sufficiently long markdown draft');\n}\n\nreturn [{\n  json: {\n    original,\n    provider: 'nvidia',\n    draft\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1776,-96],"id":"d62e973b-4c48-44ab-9287-8ad4248c077a","name":"ParseFallbackDraft"},{"parameters":{"jsCode":"// Normalize the selected draft into the Phoenix article contract.\nconst input = $input.first().json;\nconst original = input.original;\nconst draft = input.draft;\n\nconst markdown = String(draft.markdown ?? '').trim();\nconst tags = Array.isArray(draft.tags)\n  ? draft.tags.map((tag) => String(tag).trim()).filter(Boolean).slice(0, 5)\n  : [];\n\nreturn [{\n  json: {\n    ...original,\n    article: {\n      title: String(draft.title ?? '').trim(),\n      subtitle: String(draft.subtitle ?? '').trim(),\n      summary: String(draft.summary ?? '').trim(),\n      tags,\n      markdown,\n      wordCountEstimate: Number(draft.wordCountEstimate ?? markdown.length)\n    },\n    metadata: {\n      ...original.metadata,\n      writer: '06-writer-agent',\n      writerVersion: '0.6.0',\n      provider: input.provider,\n      status: 'drafted',\n      draftedAt: new Date().toISOString()\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1776,128],"id":"9615e8b8-4b9b-4bd2-83ea-db7b75cf10b4","name":"FinalizeDraft"}],"connections":{"ManualTest":{"main":[[{"node":"BuildSampleStyleContext","type":"main","index":0}]]},"WriterWebhook":{"main":[[{"node":"BuildWriterPrompt","type":"main","index":0}]]},"BuildSampleStyleContext":{"main":[[{"node":"BuildWriterPrompt","type":"main","index":0}]]},"BuildWriterPrompt":{"main":[[{"node":"CallOpenRouterWriter","type":"main","index":0}]]},"CallOpenRouterWriter":{"main":[[{"node":"ParsePrimaryDraft","type":"main","index":0}]]},"ParsePrimaryDraft":{"main":[[{"node":"NeedsWriterFallback","type":"main","index":0}]]},"NeedsWriterFallback":{"main":[[{"node":"CallNvidiaWriter","type":"main","index":0}],[{"node":"FinalizeDraft","type":"main","index":0}]]},"CallNvidiaWriter":{"main":[[{"node":"ParseFallbackDraft","type":"main","index":0}]]},"ParseFallbackDraft":{"main":[[{"node":"FinalizeDraft","type":"main","index":0}]]}},"pinData":{},"settings":{"timezone":"Asia/Taipei","executionOrder":"v1"},"meta":{"instanceId":"77a976b121cfd3aa989f7edc4adf3d5f53344addf28f8e019d7604d7bc201cb2"}}