workflows/07-reviewer-agent-v0.7.1.json
{"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,96],"id":"b555243d-bbb4-42ba-b5d0-dbb98ccdff5a","name":"ManualTest"},{"parameters":{"httpMethod":"POST","path":"phoenix/review","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,-96],"id":"552502b4-be1f-4d32-a56e-6d6863d12ee4","name":"ReviewerWebhook","webhookId":"5cfd15c0-968a-4fa4-bc32-152ab59f0a41"},{"parameters":{"jsCode":"// Provide a deterministic draft for manual testing.\nreturn [{\n  json: {\n    id: 'manual:https://example.com/ai-agent',\n    source: 'manual',\n    title: 'AI Agent 與工作流',\n    url: 'https://example.com/ai-agent',\n    language: 'zh-TW',\n    content: 'AI Agent 不應只負責生成文字，也應根據工具結果規劃下一步。',\n    score: 85,\n    shouldWrite: true,\n    analysis: {\n      topic: 'AI Agent',\n      coreIdea: 'AI Agent 應根據工具結果規劃下一步',\n      audience: 'n8n 與自動化使用者',\n      angles: ['Agent orchestration'],\n      keywords: ['AI Agent', 'n8n'],\n      riskNotes: []\n    },\n    research: {\n      sources: [],\n      sourceCount: 0,\n      notes: ''\n    },\n    styleRag: {\n      matches: [],\n      matchCount: 0\n    },\n    article: {\n      title: 'AI Agent 不只是生成文字',\n      subtitle: '從工具呼叫到流程決策',\n      summary: '本文拆解 AI Agent 在工作流中的真正角色。',\n      tags: ['AI', 'n8n'],\n      markdown: '# AI Agent 不只是生成文字\\n\\nAI Agent 的價值，不只是把一句話擴寫成一段文字。\\n\\n## 真正的差別\\n\\n它應該根據工具回傳的結果，決定下一步。\\n\\n## 實作方式\\n\\n在 n8n 中，可以把研究、RAG 與寫作拆成不同 workflow。\\n\\n## 結論\\n\\n先建立可驗證的流程，再追求更大的模型。',\n      wordCountEstimate: 620\n    },\n    metadata: {\n      status: 'drafted',\n      provider: 'openrouter'\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,96],"id":"575822a0-35b2-4ef3-bab0-a11be181cfaf","name":"BuildSampleDraft"},{"parameters":{"jsCode":"// Build a structured editorial review prompt.\nconst input = $input.first().json;\nconst body = input.body ?? input;\n\nif (!body.article?.markdown || !body.article?.title) {\n  throw new Error('article.title and article.markdown are required');\n}\n\nconst systemPrompt = `你是 Phoenix AI Content Engine 的資深編輯與事實風險審查員。你的工作不是重寫整篇文章，而是：\n1. 檢查結構、論證、可讀性與 Medium 閱讀體驗。\n2. 檢查是否存在無來源的具體數字、日期、人物說法或直接引用。\n3. 檢查是否過度重複、過度口號化、AI 腔或空泛。\n4. 檢查文風是否與 styleContext 一致，但不得要求複製原句。\n5. 當文章可接受時，保留原文，只做必要修訂。\n6. 僅輸出合法 JSON，不要使用 Markdown code fence。\n\n輸出格式：\n{\n  \"score\": 0,\n  \"approved\": false,\n  \"issues\": [\n    {\n      \"type\": \"structure|fact_risk|style|clarity|duplication|seo\",\n      \"severity\": \"low|medium|high\",\n      \"message\": \"問題說明\"\n    }\n  ],\n  \"revisionNotes\": [\"修訂說明\"],\n  \"revisedTitle\": \"修訂後標題\",\n  \"revisedSubtitle\": \"修訂後副標題\",\n  \"revisedSummary\": \"修訂後摘要\",\n  \"revisedTags\": [\"標籤\"],\n  \"revisedMarkdown\": \"# 修訂後完整文章\"\n}\n\n評分標準：\n- 結構與論證 25\n- 可讀性與節奏 20\n- 事實風險控制 20\n- 文風一致性 15\n- 實用性與具體性 10\n- 標題摘要與 SEO 10\n\napproved 僅在 score >= 85 且不存在 high severity issue 時為 true。`;\n\nconst userPrompt = JSON.stringify({\n  originalContent: {\n    title: body.title,\n    url: body.url,\n    content: body.content\n  },\n  analysis: body.analysis,\n  research: body.research,\n  styleContext: body.styleRag,\n  article: body.article\n});\n\nreturn [{\n  json: {\n    original: body,\n    systemPrompt,\n    userPrompt\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,0],"id":"eaeb354b-8835-4426-aa04-a4d75901c819","name":"BuildReviewerPrompt"},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{({\n  model: 'openrouter/free',\n  messages: [\n    {\n      role: 'system',\n      content: $json.systemPrompt\n    },\n    {\n      role: 'user',\n      content: $json.userPrompt\n    }\n  ],\n  temperature: 0.2\n})}}","options":{"response":{"response":{"fullResponse":true,"neverError":true}},"timeout":180000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[752,0],"id":"87718b6f-d486-4477-921a-c66590591a3a","name":"CallOpenRouterReviewer"},{"parameters":{"jsCode":"// Parse and validate the primary review response.\nconst response = $input.first().json;\nconst original = $('BuildReviewerPrompt').first().json.original;\nconst statusCode = response.statusCode ?? 0;\nconst raw = response.body?.choices?.[0]?.message?.content ?? '';\n\nlet review = null;\nlet parseError = null;\n\ntry {\n  review = JSON.parse(String(raw).replace(/^```json\\s*|\\s*```$/g, '').trim());\n} catch (error) {\n  parseError = error.message;\n}\n\nconst valid = statusCode >= 200 &&\n  statusCode < 300 &&\n  review &&\n  Number.isFinite(Number(review.score)) &&\n  typeof review.approved === 'boolean';\n\nreturn [{\n  json: {\n    original,\n    provider: 'openrouter',\n    statusCode,\n    raw,\n    review,\n    valid,\n    fallbackRequired: !valid,\n    error: parseError\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,0],"id":"777601a1-a376-4372-9a65-507bb6c1b764","name":"ParsePrimaryReview"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e6a9b93b-7b79-44d0-85f5-b7b5e9931ea3","leftValue":"={{ $json.fallbackRequired }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1264,0],"id":"d4b230ef-8cbd-460c-a3b6-e039dc5f03ce","name":"NeedsReviewerFallback"},{"parameters":{"method":"POST","url":"https://integrate.api.nvidia.com/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{({\n  model: 'meta/llama-3.1-70b-instruct',\n  messages: [\n    {\n      role: 'system',\n      content: $('BuildReviewerPrompt').first().json.systemPrompt\n    },\n    {\n      role: 'user',\n      content: $('BuildReviewerPrompt').first().json.userPrompt\n    }\n  ],\n  temperature: 0.2\n})}}","options":{"response":{"response":{"fullResponse":true,"neverError":true}},"timeout":180000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,-96],"id":"3fd93443-a010-4d23-8ff3-5025c2599e63","name":"CallNvidiaReviewer"},{"parameters":{"jsCode":"// Parse the NVIDIA fallback review.\n// NVIDIA may return a valid review without a fully revised article.\n// Missing revised fields are allowed and will fall back to the original draft.\nconst response = $input.first().json;\nconst original = $('BuildReviewerPrompt').first().json.original;\nconst statusCode = response.statusCode ?? 0;\nconst raw = response.body?.choices?.[0]?.message?.content ?? '';\n\nlet review;\ntry {\n  review = JSON.parse(String(raw).replace(/^```json\\s*|\\s*```$/g, '').trim());\n} catch (error) {\n  throw new Error(`NVIDIA reviewer response is not valid JSON: ${error.message}`);\n}\n\nif (!(statusCode >= 200 && statusCode < 300)) {\n  throw new Error(`NVIDIA reviewer request failed with status ${statusCode}`);\n}\n\nif (\n  !Number.isFinite(Number(review.score)) ||\n  typeof review.approved !== 'boolean'\n) {\n  throw new Error('NVIDIA reviewer response is missing score or approved');\n}\n\nreturn [{\n  json: {\n    original,\n    provider: 'nvidia',\n    review\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1776,-96],"id":"79aa46b6-97fd-405d-8274-853113edb40c","name":"ParseFallbackReview"},{"parameters":{"jsCode":"// Merge the selected review into the article contract.\nconst input = $input.first().json;\nconst original = input.original;\nconst review = input.review ?? {};\nconst issues = Array.isArray(review.issues) ? review.issues : [];\nconst score = Math.max(0, Math.min(100, Number(review.score ?? 0)));\nconst hasHighSeverity = issues.some((issue) => String(issue.severity).toLowerCase() === 'high');\nconst approved = score >= 85 && review.approved === true && !hasHighSeverity;\n\nconst revisedTitle = typeof review.revisedTitle === 'string' && review.revisedTitle.trim()\n  ? review.revisedTitle.trim()\n  : original.article.title;\n\nconst revisedSubtitle = typeof review.revisedSubtitle === 'string'\n  ? review.revisedSubtitle.trim()\n  : (original.article.subtitle ?? '');\n\nconst revisedSummary = typeof review.revisedSummary === 'string'\n  ? review.revisedSummary.trim()\n  : (original.article.summary ?? '');\n\nconst revisedTags = Array.isArray(review.revisedTags) && review.revisedTags.length\n  ? review.revisedTags.map((tag) => String(tag).trim()).filter(Boolean).slice(0, 5)\n  : (original.article.tags ?? []);\n\nconst revisedMarkdown = typeof review.revisedMarkdown === 'string' && review.revisedMarkdown.trim().length >= 100\n  ? review.revisedMarkdown.trim()\n  : original.article.markdown;\n\nreturn [{\n  json: {\n    ...original,\n    article: {\n      ...original.article,\n      title: revisedTitle,\n      subtitle: revisedSubtitle,\n      summary: revisedSummary,\n      tags: revisedTags,\n      markdown: revisedMarkdown\n    },\n    review: {\n      score,\n      approved,\n      issues,\n      revisionNotes: Array.isArray(review.revisionNotes) ? review.revisionNotes : [],\n      revisedContentApplied: revisedMarkdown !== original.article.markdown\n    },\n    metadata: {\n      ...original.metadata,\n      reviewer: '07-reviewer-agent',\n      reviewerVersion: '0.7.1',\n      reviewerProvider: input.provider,\n      status: approved ? 'approved' : 'needs_revision',\n      reviewedAt: new Date().toISOString()\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1776,128],"id":"468d3ebb-cf2b-4ce3-94be-bb041c8b2314","name":"FinalizeReview"}],"connections":{"ManualTest":{"main":[[{"node":"BuildSampleDraft","type":"main","index":0}]]},"ReviewerWebhook":{"main":[[{"node":"BuildReviewerPrompt","type":"main","index":0}]]},"BuildSampleDraft":{"main":[[{"node":"BuildReviewerPrompt","type":"main","index":0}]]},"BuildReviewerPrompt":{"main":[[{"node":"CallOpenRouterReviewer","type":"main","index":0}]]},"CallOpenRouterReviewer":{"main":[[{"node":"ParsePrimaryReview","type":"main","index":0}]]},"ParsePrimaryReview":{"main":[[{"node":"NeedsReviewerFallback","type":"main","index":0}]]},"NeedsReviewerFallback":{"main":[[{"node":"CallNvidiaReviewer","type":"main","index":0}],[{"node":"FinalizeReview","type":"main","index":0}]]},"CallNvidiaReviewer":{"main":[[{"node":"ParseFallbackReview","type":"main","index":0}]]},"ParseFallbackReview":{"main":[[{"node":"FinalizeReview","type":"main","index":0}]]}},"pinData":{},"settings":{"timezone":"Asia/Taipei","executionOrder":"v1"},"meta":{"instanceId":"77a976b121cfd3aa989f7edc4adf3d5f53344addf28f8e019d7604d7bc201cb2"}}