workflows/08-publisher.json
{"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,96],"id":"89158709-2345-451d-8579-1d62f39b83b1","name":"ManualTest"},{"parameters":{"httpMethod":"POST","path":"phoenix/publish","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,-96],"id":"a04c4998-dd79-4631-a1f6-729921174710","name":"PublisherWebhook","webhookId":"e40473ef-e6a7-4c39-baa5-98253863665d"},{"parameters":{"jsCode":"// Provide an approved article for manual testing.\nreturn [{\n  json: {\n    id: 'manual:https://example.com/ai-agent',\n    source: 'manual',\n    title: 'AI Agent 與工作流',\n    url: 'https://example.com/ai-agent',\n    language: 'zh-TW',\n    article: {\n      title: 'AI Agent 不只是生成文字',\n      subtitle: '從工具呼叫到流程決策',\n      summary: '本文拆解 AI Agent 在工作流中的真正角色。',\n      tags: ['AI', 'n8n'],\n      markdown: '# AI Agent 不只是生成文字\\n\\n這是一篇已通過審核的 Markdown 草稿。'\n    },\n    review: {\n      score: 90,\n      approved: true,\n      issues: [],\n      revisionNotes: []\n    },\n    metadata: {\n      status: 'approved'\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,96],"id":"cf8ad6ae-7fcb-4245-a87f-98edbc98257c","name":"BuildSampleApprovedArticle"},{"parameters":{"assignments":{"assignments":[{"id":"851dc2d6-23d0-4323-8b2a-3b539dca98da","name":"githubOwner","value":"stevenaiguy","type":"string"},{"id":"24b5446e-9588-4af0-992b-bfd40fd197b5","name":"githubRepo","value":"phoenix_ai_content_engine","type":"string"},{"id":"cdff13fb-bcb3-41ac-a857-8ea7c69ad775","name":"githubBranch","value":"main","type":"string"},{"id":"78ad6137-ea82-4d3d-8a08-a6eafdd93cc7","name":"draftDirectory","value":"drafts","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[496,0],"id":"7b70bd27-22ee-4d53-a585-d315fcec3070","name":"SetPublisherConfig"},{"parameters":{"jsCode":"// Build a deterministic GitHub path and base64 file content.\nconst input = $input.first().json;\nconst body = input.body ?? input;\n\nif (!body.review?.approved || body.metadata?.status !== 'approved') {\n  throw new Error('Only approved articles can be published');\n}\n\nif (!body.article?.title || !body.article?.markdown) {\n  throw new Error('article.title and article.markdown are required');\n}\n\nconst slugify = (value) => String(value)\n  .normalize('NFKD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .replace(/[^\\p{L}\\p{N}]+/gu, '-')\n  .replace(/^-+|-+$/g, '')\n  .toLowerCase()\n  .slice(0, 80) || 'untitled';\n\nconst date = new Intl.DateTimeFormat('en-CA', {\n  timeZone: 'Asia/Taipei',\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit'\n}).format(new Date());\n\nconst slug = slugify(body.article.title);\nconst path = `${body.draftDirectory}/${date}-${slug}.md`;\n\nconst frontMatter = [\n  '---',\n  `title: \"${String(body.article.title).replace(/\"/g, '\\\\\"')}\"`,\n  `subtitle: \"${String(body.article.subtitle ?? '').replace(/\"/g, '\\\\\"')}\"`,\n  `summary: \"${String(body.article.summary ?? '').replace(/\"/g, '\\\\\"')}\"`,\n  `tags: [${(body.article.tags ?? []).map((tag) => `\"${String(tag).replace(/\"/g, '\\\\\"')}\"`).join(', ')}]`,\n  `source_url: \"${String(body.url ?? '').replace(/\"/g, '\\\\\"')}\"`,\n  `review_score: ${Number(body.review.score ?? 0)}`,\n  `created_at: \"${new Date().toISOString()}\"`,\n  'status: draft',\n  '---',\n  ''\n].join('\\n');\n\nconst fileContent = `${frontMatter}${body.article.markdown.trim()}\\n`;\n\nreturn [{\n  json: {\n    original: body,\n    githubOwner: body.githubOwner,\n    githubRepo: body.githubRepo,\n    githubBranch: body.githubBranch,\n    path,\n    commitMessage: `docs: add draft ${body.article.title}`,\n    contentBase64: Buffer.from(fileContent, 'utf8').toString('base64')\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,0],"id":"d9cea75e-9dbe-46c0-990c-73887095932a","name":"BuildGitHubDraft"},{"parameters":{"method":"GET","url":"={{ 'https://api.github.com/repos/' + $json.githubOwner + '/' + $json.githubRepo + '/contents/' + $json.path + '?ref=' + encodeURIComponent($json.githubBranch) }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github+json"},{"name":"X-GitHub-Api-Version","value":"2022-11-28"},{"name":"User-Agent","value":"Phoenix-AI-Content-Engine"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true}},"timeout":120000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1008,0],"id":"be4bb241-6186-4ec0-a088-0d2a574440b0","name":"CheckExistingDraft"},{"parameters":{"jsCode":"// Extract the current file SHA when the draft already exists.\nconst response = $input.first().json;\nconst request = $('BuildGitHubDraft').first().json;\nconst statusCode = response.statusCode ?? 0;\n\nif (![200, 404].includes(statusCode)) {\n  throw new Error(`GitHub file lookup failed with status ${statusCode}`);\n}\n\nreturn [{\n  json: {\n    ...request,\n    existingSha: statusCode === 200 ? String(response.body?.sha ?? '') : '',\n    fileExists: statusCode === 200\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1264,0],"id":"1995c486-81cb-40c2-be1d-113d5f797bea","name":"ParseExistingDraft"},{"parameters":{"method":"PUT","url":"={{ 'https://api.github.com/repos/' + $json.githubOwner + '/' + $json.githubRepo + '/contents/' + $json.path }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github+json"},{"name":"X-GitHub-Api-Version","value":"2022-11-28"},{"name":"User-Agent","value":"Phoenix-AI-Content-Engine"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{({\n  message: $json.commitMessage,\n  content: $json.contentBase64,\n  branch: $json.githubBranch,\n  ...($json.existingSha ? { sha: $json.existingSha } : {})\n})}}","options":{"timeout":120000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,0],"id":"49444c40-2173-4678-b1ed-136bf7ff5bf5","name":"CommitDraftToGitHub"},{"parameters":{"jsCode":"// Return a compact publication result.\nconst response = $input.first().json;\nconst request = $('ParseExistingDraft').first().json;\nconst original = request.original;\n\nreturn [{\n  json: {\n    ...original,\n    publication: {\n      provider: 'github',\n      repository: `${request.githubOwner}/${request.githubRepo}`,\n      branch: request.githubBranch,\n      path: request.path,\n      fileUrl: String(response.content?.html_url ?? ''),\n      commitUrl: String(response.commit?.html_url ?? ''),\n      action: request.fileExists ? 'updated' : 'created'\n    },\n    metadata: {\n      ...original.metadata,\n      publisher: '08-publisher',\n      publisherVersion: '0.8.0',\n      status: 'published_to_drafts',\n      publishedAt: new Date().toISOString()\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1776,0],"id":"c04c66ed-6953-4467-ba01-e10050c7ea37","name":"FinalizePublication"}],"connections":{"ManualTest":{"main":[[{"node":"BuildSampleApprovedArticle","type":"main","index":0}]]},"PublisherWebhook":{"main":[[{"node":"SetPublisherConfig","type":"main","index":0}]]},"BuildSampleApprovedArticle":{"main":[[{"node":"SetPublisherConfig","type":"main","index":0}]]},"SetPublisherConfig":{"main":[[{"node":"BuildGitHubDraft","type":"main","index":0}]]},"BuildGitHubDraft":{"main":[[{"node":"CheckExistingDraft","type":"main","index":0}]]},"CheckExistingDraft":{"main":[[{"node":"ParseExistingDraft","type":"main","index":0}]]},"ParseExistingDraft":{"main":[[{"node":"CommitDraftToGitHub","type":"main","index":0}]]},"CommitDraftToGitHub":{"main":[[{"node":"FinalizePublication","type":"main","index":0}]]}},"pinData":{},"settings":{"timezone":"Asia/Taipei","executionOrder":"v1"},"meta":{"instanceId":"77a976b121cfd3aa989f7edc4adf3d5f53344addf28f8e019d7604d7bc201cb2"}}