workflows/09-feedback-collector.json
{"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,96],"id":"b8490ee6-e760-418b-9592-cb57e45cedc8","name":"ManualTest"},{"parameters":{"httpMethod":"POST","path":"phoenix/feedback","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,-96],"id":"4b54ec1a-3d3c-4089-bb31-8b7a65680e32","name":"FeedbackWebhook","webhookId":"9c14c23e-708d-4cb3-86f9-e2477976b0ff"},{"parameters":{"jsCode":"// Provide deterministic draft and edited content for manual testing.\nreturn [{\n  json: {\n    articleId: 'manual-ai-agent-001',\n    sourceUrl: 'https://example.com/ai-agent',\n    draft: {\n      title: 'AI Agent 不只是生成文字',\n      subtitle: '從工具呼叫到流程決策',\n      summary: '本文拆解 AI Agent 在工作流中的真正角色。',\n      markdown: '# AI Agent 不只是生成文字\\n\\n在這個快速變化的時代，AI Agent 正在重新定義工作流。\\n\\n## 真正的差別\\n\\n值得注意的是，它應該根據工具回傳的結果決定下一步。\\n\\n## 結論\\n\\n歡迎按讚、分享與留言。'\n    },\n    edited: {\n      title: 'AI Agent 為什麼不能只會生成文字？',\n      subtitle: '真正的差別，在於它能否根據工具結果做決策',\n      summary: '本文從 n8n 工作流出發，拆解 AI Agent 的決策、工具使用與實作方式。',\n      markdown: '# AI Agent 為什麼不能只會生成文字？\\n\\n如果一個 AI Agent 只會把提示詞變成文字，它其實還不算真正的 Agent。\\n\\n## 真正的差別\\n\\n關鍵不在生成，而在於它能否根據工具回傳結果決定下一步。\\n\\n## 結論\\n\\n如果你也在打造 AI Agent，歡迎交流你的做法。'\n    },\n    editor: 'human',\n    editedAt: new Date().toISOString(),\n    metrics: {\n      views: 0,\n      reads: 0,\n      claps: 0,\n      responses: 0\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,96],"id":"6eaa26e6-5ef1-4e11-b138-69de16ce7908","name":"BuildSampleFeedback"},{"parameters":{"jsCode":"// Normalize the feedback payload and validate required fields.\nconst input = $input.first().json;\nconst body = input.body ?? input;\n\nif (!body.articleId) {\n  throw new Error('articleId is required');\n}\nif (!body.draft?.markdown || !body.edited?.markdown) {\n  throw new Error('draft.markdown and edited.markdown are required');\n}\n\nreturn [{\n  json: {\n    articleId: String(body.articleId),\n    sourceUrl: String(body.sourceUrl ?? ''),\n    draft: {\n      title: String(body.draft.title ?? ''),\n      subtitle: String(body.draft.subtitle ?? ''),\n      summary: String(body.draft.summary ?? ''),\n      markdown: String(body.draft.markdown)\n    },\n    edited: {\n      title: String(body.edited.title ?? ''),\n      subtitle: String(body.edited.subtitle ?? ''),\n      summary: String(body.edited.summary ?? ''),\n      markdown: String(body.edited.markdown)\n    },\n    editor: String(body.editor ?? 'human'),\n    editedAt: String(body.editedAt ?? new Date().toISOString()),\n    metrics: {\n      views: Number(body.metrics?.views ?? 0),\n      reads: Number(body.metrics?.reads ?? 0),\n      claps: Number(body.metrics?.claps ?? 0),\n      responses: Number(body.metrics?.responses ?? 0)\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,0],"id":"521e50ff-2e44-4fd0-9c3b-0ca563ffe6d1","name":"NormalizeFeedback"},{"parameters":{"jsCode":"// Compute a deterministic line-level diff without external packages.\nconst input = $input.first().json;\n\nconst splitLines = (text) => String(text)\n  .replace(/\\r\\n/g, '\\n')\n  .split('\\n')\n  .map((line) => line.trimEnd());\n\nconst draftLines = splitLines(input.draft.markdown);\nconst editedLines = splitLines(input.edited.markdown);\n\nconst m = draftLines.length;\nconst n = editedLines.length;\nconst dp = Array.from({ length: m + 1 }, () => Array(n + 1).fill(0));\n\nfor (let i = m - 1; i >= 0; i--) {\n  for (let j = n - 1; j >= 0; j--) {\n    dp[i][j] = draftLines[i] === editedLines[j]\n      ? dp[i + 1][j + 1] + 1\n      : Math.max(dp[i + 1][j], dp[i][j + 1]);\n  }\n}\n\nconst changes = [];\nlet i = 0;\nlet j = 0;\n\nwhile (i < m && j < n) {\n  if (draftLines[i] === editedLines[j]) {\n    i++;\n    j++;\n    continue;\n  }\n\n  if (dp[i + 1][j] >= dp[i][j + 1]) {\n    changes.push({\n      type: 'removed',\n      before: draftLines[i],\n      after: ''\n    });\n    i++;\n  } else {\n    changes.push({\n      type: 'added',\n      before: '',\n      after: editedLines[j]\n    });\n    j++;\n  }\n}\n\nwhile (i < m) {\n  changes.push({ type: 'removed', before: draftLines[i], after: '' });\n  i++;\n}\n\nwhile (j < n) {\n  changes.push({ type: 'added', before: '', after: editedLines[j] });\n  j++;\n}\n\nconst paired = [];\nfor (let index = 0; index < changes.length; index++) {\n  const current = changes[index];\n  const next = changes[index + 1];\n\n  if (current?.type === 'removed' && next?.type === 'added') {\n    paired.push({\n      type: 'replaced',\n      before: current.before,\n      after: next.after\n    });\n    index++;\n  } else {\n    paired.push(current);\n  }\n}\n\nconst titleChanged = input.draft.title !== input.edited.title;\nconst subtitleChanged = input.draft.subtitle !== input.edited.subtitle;\nconst summaryChanged = input.draft.summary !== input.edited.summary;\n\nconst removedCount = paired.filter((item) => item.type === 'removed').length;\nconst addedCount = paired.filter((item) => item.type === 'added').length;\nconst replacedCount = paired.filter((item) => item.type === 'replaced').length;\n\nconst draftLength = input.draft.markdown.length;\nconst editedLength = input.edited.markdown.length;\nconst lengthDelta = editedLength - draftLength;\nconst lengthDeltaRatio = draftLength ? lengthDelta / draftLength : 0;\n\nreturn [{\n  json: {\n    ...input,\n    diff: {\n      titleChanged,\n      subtitleChanged,\n      summaryChanged,\n      titleBefore: input.draft.title,\n      titleAfter: input.edited.title,\n      subtitleBefore: input.draft.subtitle,\n      subtitleAfter: input.edited.subtitle,\n      summaryBefore: input.draft.summary,\n      summaryAfter: input.edited.summary,\n      changes: paired.filter((item) => item.before || item.after),\n      stats: {\n        removedCount,\n        addedCount,\n        replacedCount,\n        totalChanges: removedCount + addedCount + replacedCount,\n        draftLength,\n        editedLength,\n        lengthDelta,\n        lengthDeltaRatio\n      }\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,0],"id":"dbeb69b7-17d3-49d8-a2cd-705f0de4dca8","name":"ComputeEditorialDiff"},{"parameters":{"jsCode":"// Convert the raw diff into a standard feedback contract for the Learning Agent.\nconst input = $input.first().json;\nconst meaningfulChanges = input.diff.changes\n  .filter((change) => {\n    const before = String(change.before ?? '').trim();\n    const after = String(change.after ?? '').trim();\n    return before.length >= 6 || after.length >= 6;\n  })\n  .slice(0, 50);\n\nconst feedbackId = `feedback:${input.articleId}:${Date.now()}`;\n\nreturn [{\n  json: {\n    feedbackId,\n    articleId: input.articleId,\n    sourceUrl: input.sourceUrl,\n    editor: input.editor,\n    editedAt: input.editedAt,\n    originalDraft: input.draft,\n    finalVersion: input.edited,\n    editorialDiff: {\n      titleChanged: input.diff.titleChanged,\n      subtitleChanged: input.diff.subtitleChanged,\n      summaryChanged: input.diff.summaryChanged,\n      titleBefore: input.diff.titleBefore,\n      titleAfter: input.diff.titleAfter,\n      subtitleBefore: input.diff.subtitleBefore,\n      subtitleAfter: input.diff.subtitleAfter,\n      summaryBefore: input.diff.summaryBefore,\n      summaryAfter: input.diff.summaryAfter,\n      changes: meaningfulChanges,\n      stats: input.diff.stats\n    },\n    metrics: input.metrics,\n    metadata: {\n      workflow: '09-feedback-collector',\n      version: '0.9.0',\n      status: 'feedback_collected',\n      collectedAt: new Date().toISOString()\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,0],"id":"fff49653-f409-42bd-83f1-0f726f79db95","name":"FinalizeFeedback"}],"connections":{"ManualTest":{"main":[[{"node":"BuildSampleFeedback","type":"main","index":0}]]},"FeedbackWebhook":{"main":[[{"node":"NormalizeFeedback","type":"main","index":0}]]},"BuildSampleFeedback":{"main":[[{"node":"NormalizeFeedback","type":"main","index":0}]]},"NormalizeFeedback":{"main":[[{"node":"ComputeEditorialDiff","type":"main","index":0}]]},"ComputeEditorialDiff":{"main":[[{"node":"FinalizeFeedback","type":"main","index":0}]]}},"pinData":{},"settings":{"timezone":"Asia/Taipei","executionOrder":"v1"},"meta":{"instanceId":"77a976b121cfd3aa989f7edc4adf3d5f53344addf28f8e019d7604d7bc201cb2"}}