workflows/10-learning-agent.json
{"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,96],"id":"1815bafd-98c9-47bd-bfc5-0df45b43de87","name":"ManualTest"},{"parameters":{"httpMethod":"POST","path":"phoenix/learn","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,-96],"id":"bc637c57-1d26-4c0c-a7b2-b015f441e600","name":"LearningWebhook","webhookId":"51946de8-5acc-418c-9ebb-6303a546e1c8"},{"parameters":{"jsCode":"// Provide deterministic feedback for manual testing.\nreturn [{\n  json: {\n    feedbackId: 'feedback:article-001:sample',\n    articleId: 'article-001',\n    sourceUrl: 'https://example.com/source',\n    editor: 'human',\n    editedAt: new Date().toISOString(),\n    originalDraft: {\n      title: 'AI Agent 不只是生成文字',\n      subtitle: '從工具呼叫到流程決策',\n      summary: '本文拆解 AI Agent 在工作流中的真正角色。',\n      markdown: '# AI Agent 不只是生成文字\\n\\n在這個快速變化的時代，AI Agent 正在重新定義工作流。\\n\\n值得注意的是，它應該根據工具結果決定下一步。\\n\\n歡迎按讚、分享與留言。'\n    },\n    finalVersion: {\n      title: 'AI Agent 為什麼不能只會生成文字？',\n      subtitle: '真正的差別，在於它能否根據工具結果做決策',\n      summary: '本文從 n8n 工作流出發，拆解 AI Agent 的決策、工具使用與實作方式。',\n      markdown: '# AI Agent 為什麼不能只會生成文字？\\n\\n如果一個 AI Agent 只會把提示詞變成文字，它其實還不算真正的 Agent。\\n\\n關鍵不在生成，而在於它能否根據工具回傳結果決定下一步。\\n\\n如果你也在打造 AI Agent，歡迎交流你的做法。'\n    },\n    editorialDiff: {\n      titleChanged: true,\n      subtitleChanged: true,\n      summaryChanged: true,\n      changes: [\n        {\n          type: 'replaced',\n          before: '在這個快速變化的時代，AI Agent 正在重新定義工作流。',\n          after: '如果一個 AI Agent 只會把提示詞變成文字，它其實還不算真正的 Agent。'\n        },\n        {\n          type: 'replaced',\n          before: '值得注意的是，它應該根據工具結果決定下一步。',\n          after: '關鍵不在生成，而在於它能否根據工具回傳結果決定下一步。'\n        },\n        {\n          type: 'replaced',\n          before: '歡迎按讚、分享與留言。',\n          after: '如果你也在打造 AI Agent，歡迎交流你的做法。'\n        }\n      ],\n      stats: {\n        removedCount: 0,\n        addedCount: 0,\n        replacedCount: 3,\n        totalChanges: 3,\n        draftLength: 96,\n        editedLength: 118,\n        lengthDelta: 22,\n        lengthDeltaRatio: 0.229\n      }\n    },\n    metrics: {\n      views: 0,\n      reads: 0,\n      claps: 0,\n      responses: 0\n    },\n    metadata: {\n      status: 'feedback_collected'\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,96],"id":"cd4f1cdf-7ae0-447d-a795-13eaa5e995c4","name":"BuildSampleFeedback"},{"parameters":{"jsCode":"// Build a constrained learning prompt from editorial feedback.\nconst input = $input.first().json;\nconst body = input.body ?? input;\n\nif (!body.feedbackId || !body.editorialDiff) {\n  throw new Error('feedbackId and editorialDiff are required');\n}\n\nconst systemPrompt = `你是 Phoenix AI Content Engine 的 Writing Memory 分析員。你的任務不是改寫文章，而是從人工修改紀錄中抽取可重複使用的寫作偏好。\n\n規則：\n1. 只根據提供的差異推論，不要猜測作者未表達的偏好。\n2. 將偏好分成 opening、title、paragraph、tone、transition、cta、avoidPhrases、generalRules。\n3. 每一條規則必須簡短、可操作、可放進未來 Writer Prompt。\n4. 對每一條規則提供 confidence，範圍 0 到 1。\n5. 若只有單篇證據，confidence 不得高於 0.65。\n6. 僅輸出合法 JSON，不要使用 Markdown code fence。\n\n輸出格式：\n{\n  \"profileVersion\": \"1.0.0\",\n  \"rules\": [\n    {\n      \"category\": \"opening|title|paragraph|tone|transition|cta|avoidPhrases|generalRules\",\n      \"rule\": \"可操作規則\",\n      \"evidence\": [\"差異證據\"],\n      \"confidence\": 0.0\n    }\n  ],\n  \"avoidPhrases\": [\"應避免的詞句\"],\n  \"preferredPatterns\": [\"偏好的模式\"],\n  \"summary\": \"本次學習摘要\"\n}`;\n\nconst userPrompt = JSON.stringify({\n  feedbackId: body.feedbackId,\n  originalDraft: body.originalDraft,\n  finalVersion: body.finalVersion,\n  editorialDiff: body.editorialDiff,\n  metrics: body.metrics\n});\n\nreturn [{\n  json: {\n    original: body,\n    systemPrompt,\n    userPrompt\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,0],"id":"72c3ec87-5fd7-4f6d-89e3-7dd5e349a1f7","name":"BuildLearningPrompt"},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{({\n  model: 'openrouter/free',\n  messages: [\n    {\n      role: 'system',\n      content: $json.systemPrompt\n    },\n    {\n      role: 'user',\n      content: $json.userPrompt\n    }\n  ],\n  temperature: 0.2\n})}}","options":{"response":{"response":{"fullResponse":true,"neverError":true}},"timeout":180000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[752,0],"id":"24759e6a-f71a-464c-b40b-7f888f106dee","name":"CallOpenRouterLearning"},{"parameters":{"jsCode":"// Parse and validate the primary learning response.\nconst response = $input.first().json;\nconst original = $('BuildLearningPrompt').first().json.original;\nconst statusCode = response.statusCode ?? 0;\nconst raw = response.body?.choices?.[0]?.message?.content ?? '';\n\nlet memory = null;\nlet parseError = null;\n\ntry {\n  memory = JSON.parse(String(raw).replace(/^```json\\s*|\\s*```$/g, '').trim());\n} catch (error) {\n  parseError = error.message;\n}\n\nconst valid = statusCode >= 200 &&\n  statusCode < 300 &&\n  memory &&\n  Array.isArray(memory.rules) &&\n  typeof memory.summary === 'string';\n\nreturn [{\n  json: {\n    original,\n    provider: 'openrouter',\n    statusCode,\n    raw,\n    memory,\n    valid,\n    fallbackRequired: !valid,\n    error: parseError\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,0],"id":"9da800cf-a8d4-4969-a28c-11c118a9fc98","name":"ParsePrimaryLearning"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4a9426ea-8c8b-4eee-86a5-ae514bbd39d0","leftValue":"={{ $json.fallbackRequired }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1264,0],"id":"fc8f2810-a2ed-4c01-8aad-16ca2815dd8a","name":"NeedsLearningFallback"},{"parameters":{"method":"POST","url":"https://integrate.api.nvidia.com/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{({\n  model: 'meta/llama-3.1-70b-instruct',\n  messages: [\n    {\n      role: 'system',\n      content: $('BuildLearningPrompt').first().json.systemPrompt\n    },\n    {\n      role: 'user',\n      content: $('BuildLearningPrompt').first().json.userPrompt\n    }\n  ],\n  temperature: 0.2\n})}}","options":{"response":{"response":{"fullResponse":true,"neverError":true}},"timeout":180000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,-96],"id":"61821e46-e496-4bde-9372-e30925c6e889","name":"CallNvidiaLearning"},{"parameters":{"jsCode":"// Parse and validate the NVIDIA fallback learning response.\nconst response = $input.first().json;\nconst original = $('BuildLearningPrompt').first().json.original;\nconst statusCode = response.statusCode ?? 0;\nconst raw = response.body?.choices?.[0]?.message?.content ?? '';\n\nlet memory;\ntry {\n  memory = JSON.parse(String(raw).replace(/^```json\\s*|\\s*```$/g, '').trim());\n} catch (error) {\n  throw new Error(`NVIDIA learning response is not valid JSON: ${error.message}`);\n}\n\nif (!(statusCode >= 200 && statusCode < 300)) {\n  throw new Error(`NVIDIA learning request failed with status ${statusCode}`);\n}\n\nif (!Array.isArray(memory.rules) || typeof memory.summary !== 'string') {\n  throw new Error('NVIDIA learning response does not satisfy the memory contract');\n}\n\nreturn [{\n  json: {\n    original,\n    provider: 'nvidia',\n    memory\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1776,-96],"id":"f35a3c7c-417d-4456-89bd-a0e0e7315818","name":"ParseFallbackLearning"},{"parameters":{"jsCode":"// Normalize learned writing rules into a stable memory contract.\nconst input = $input.first().json;\nconst original = input.original;\nconst memory = input.memory ?? {};\n\nconst allowedCategories = new Set([\n  'opening',\n  'title',\n  'paragraph',\n  'tone',\n  'transition',\n  'cta',\n  'avoidPhrases',\n  'generalRules'\n]);\n\nconst rules = (Array.isArray(memory.rules) ? memory.rules : [])\n  .map((rule) => ({\n    category: allowedCategories.has(rule.category) ? rule.category : 'generalRules',\n    rule: String(rule.rule ?? '').trim(),\n    evidence: Array.isArray(rule.evidence)\n      ? rule.evidence.map((item) => String(item).trim()).filter(Boolean).slice(0, 5)\n      : [],\n    confidence: Math.max(0, Math.min(1, Number(rule.confidence ?? 0.5)))\n  }))\n  .filter((rule) => rule.rule)\n  .slice(0, 25);\n\nreturn [{\n  json: {\n    memoryId: `memory:${original.articleId}:${Date.now()}`,\n    feedbackId: original.feedbackId,\n    articleId: original.articleId,\n    writingMemory: {\n      profileVersion: String(memory.profileVersion ?? '1.0.0'),\n      rules,\n      avoidPhrases: Array.isArray(memory.avoidPhrases)\n        ? memory.avoidPhrases.map((item) => String(item).trim()).filter(Boolean).slice(0, 30)\n        : [],\n      preferredPatterns: Array.isArray(memory.preferredPatterns)\n        ? memory.preferredPatterns.map((item) => String(item).trim()).filter(Boolean).slice(0, 30)\n        : [],\n      summary: String(memory.summary ?? '').trim()\n    },\n    sourceFeedback: {\n      editorialDiff: original.editorialDiff,\n      metrics: original.metrics\n    },\n    metadata: {\n      workflow: '10-learning-agent',\n      version: '1.0.0',\n      provider: input.provider,\n      status: 'memory_generated',\n      generatedAt: new Date().toISOString()\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1776,128],"id":"cd7bb93d-6df6-4261-81ee-e95088a2854d","name":"FinalizeWritingMemory"}],"connections":{"ManualTest":{"main":[[{"node":"BuildSampleFeedback","type":"main","index":0}]]},"LearningWebhook":{"main":[[{"node":"BuildLearningPrompt","type":"main","index":0}]]},"BuildSampleFeedback":{"main":[[{"node":"BuildLearningPrompt","type":"main","index":0}]]},"BuildLearningPrompt":{"main":[[{"node":"CallOpenRouterLearning","type":"main","index":0}]]},"CallOpenRouterLearning":{"main":[[{"node":"ParsePrimaryLearning","type":"main","index":0}]]},"ParsePrimaryLearning":{"main":[[{"node":"NeedsLearningFallback","type":"main","index":0}]]},"NeedsLearningFallback":{"main":[[{"node":"CallNvidiaLearning","type":"main","index":0}],[{"node":"FinalizeWritingMemory","type":"main","index":0}]]},"CallNvidiaLearning":{"main":[[{"node":"ParseFallbackLearning","type":"main","index":0}]]},"ParseFallbackLearning":{"main":[[{"node":"FinalizeWritingMemory","type":"main","index":0}]]}},"pinData":{},"settings":{"timezone":"Asia/Taipei","executionOrder":"v1"},"meta":{"instanceId":"77a976b121cfd3aa989f7edc4adf3d5f53344addf28f8e019d7604d7bc201cb2"}}