workflows/11-style-memory-updater-v1.1.1.json
{"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,96],"id":"930a1a65-8a6d-489a-8d0c-84c5dc1ad677","name":"ManualTest"},{"parameters":{"httpMethod":"POST","path":"phoenix/style-memory/update","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,-96],"id":"8bf5de92-428a-4388-9cea-7131ea7dffe3","name":"StyleMemoryWebhook","webhookId":"3711bc9e-f366-4ef5-af61-a9547d7233b9"},{"parameters":{"jsCode":"// Provide deterministic writing memory for manual testing.\nreturn [{\n  json: {\n    memoryId: 'memory:article-001:sample',\n    feedbackId: 'feedback:article-001:sample',\n    articleId: 'article-001',\n    writingMemory: {\n      profileVersion: '1.0.0',\n      rules: [\n        {\n          category: 'title',\n          rule: '標題優先使用問題式結構',\n          evidence: ['AI Agent 不只是生成文字 → AI Agent 為什麼不能只會生成文字？'],\n          confidence: 0.65\n        },\n        {\n          category: 'cta',\n          rule: 'CTA 偏向交流，不要求按讚或分享',\n          evidence: ['歡迎按讚、分享與留言 → 歡迎交流你的做法'],\n          confidence: 0.65\n        }\n      ],\n      avoidPhrases: ['在這個快速變化的時代', '值得注意的是'],\n      preferredPatterns: ['直接提出具體問題', '使用交流型 CTA'],\n      summary: '作者偏好更直接、具體且帶問題意識的寫法。'\n    },\n    sourceFeedback: {\n      editorialDiff: {},\n      metrics: {}\n    },\n    metadata: {\n      status: 'memory_generated'\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,96],"id":"15a5e659-f040-4888-a5bd-8e5fc58e5cb6","name":"BuildSampleMemory"},{"parameters":{"assignments":{"assignments":[{"id":"3107887f-608e-4446-8775-72cdc74a1de5","name":"qdrantBaseUrl","value":"https://YOUR-QDRANT-CLUSTER.cloud.qdrant.io","type":"string"},{"id":"0871714d-a33d-4c89-a590-a29279028f53","name":"collection","value":"writing_memory_v1","type":"string"},{"id":"5af97889-b89e-4454-90b8-20928538b13c","name":"embeddingModel","value":"nvidia/llama-nemotron-embed-1b-v2","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[496,0],"id":"21490b06-929e-4f2f-83be-8a1bdb1d921a","name":"SetMemoryConfig"},{"parameters":{"jsCode":"// Build one compact memory document for embedding and storage.\nconst input = $input.first().json;\nconst body = input.body ?? input;\n\nif (!body.memoryId || !body.writingMemory) {\n  throw new Error('memoryId and writingMemory are required');\n}\nif (String(body.qdrantBaseUrl).includes('YOUR-QDRANT-CLUSTER')) {\n  throw new Error('SetMemoryConfig.qdrantBaseUrl must be replaced with your Qdrant Cloud URL');\n}\n\n// Qdrant point IDs must be unsigned integers or UUIDs.\n// Convert memoryId into a deterministic UUID while keeping the original memoryId in payload.\nconst toUuid = (value) => {\n  let h1 = 0x811c9dc5;\n  let h2 = 0x01000193;\n  let h3 = 0x9e3779b9;\n  let h4 = 0x85ebca6b;\n\n  for (let i = 0; i < value.length; i++) {\n    const code = value.charCodeAt(i);\n    h1 = Math.imul(h1 ^ code, 16777619);\n    h2 = Math.imul(h2 ^ code, 2246822519);\n    h3 = Math.imul(h3 ^ code, 3266489917);\n    h4 = Math.imul(h4 ^ code, 668265263);\n  }\n\n  const hex = (n) => (n >>> 0).toString(16).padStart(8, '0');\n\n  const raw = `${hex(h1)}${hex(h2)}${hex(h3)}${hex(h4)}`.slice(0, 32);\n  return `${raw.slice(0, 8)}-${raw.slice(8, 12)}-4${raw.slice(13, 16)}-8${raw.slice(17, 20)}-${raw.slice(20, 32)}`;\n};\n\nconst rules = Array.isArray(body.writingMemory.rules)\n  ? body.writingMemory.rules\n  : [];\n\nconst memoryText = [\n  `Summary: ${body.writingMemory.summary ?? ''}`,\n  ...rules.map((rule) => `${rule.category}: ${rule.rule} (confidence ${rule.confidence})`),\n  `Avoid phrases: ${(body.writingMemory.avoidPhrases ?? []).join(', ')}`,\n  `Preferred patterns: ${(body.writingMemory.preferredPatterns ?? []).join(', ')}`\n].filter(Boolean).join('\\n');\n\nreturn [{\n  json: {\n    original: body,\n    pointId: toUuid(String(body.memoryId)),\n    qdrantBaseUrl: String(body.qdrantBaseUrl).replace(/\\/$/, ''),\n    collection: body.collection,\n    embeddingModel: body.embeddingModel,\n    memoryText\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,0],"id":"ddddee8d-ddb3-4529-8dc6-f0324ebd59be","name":"BuildMemoryDocument"},{"parameters":{"method":"POST","url":"https://integrate.api.nvidia.com/v1/embeddings","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{({\n  model: $json.embeddingModel,\n  input: [$json.memoryText],\n  input_type: 'passage',\n  encoding_format: 'float',\n  truncate: 'END'\n})}}","options":{"timeout":120000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1008,0],"id":"4ca7ed37-589e-4fca-9537-c30ff5c09562","name":"CreateMemoryEmbedding"},{"parameters":{"jsCode":"// Attach the embedding vector to the memory document.\nconst response = $input.first().json;\nconst request = $('BuildMemoryDocument').first().json;\nconst vector = response.data?.[0]?.embedding;\n\nif (!Array.isArray(vector) || vector.length === 0) {\n  throw new Error('NVIDIA embedding response does not contain data[0].embedding');\n}\n\nreturn [{\n  json: {\n    ...request,\n    vector\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1264,0],"id":"54761d12-5d02-4fce-9b62-327e73b2b011","name":"AttachMemoryEmbedding"},{"parameters":{"method":"GET","url":"={{ $json.qdrantBaseUrl + '/collections/' + encodeURIComponent($json.collection) }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true}},"timeout":120000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,0],"id":"5f9ebd51-8026-48c8-ae81-265bd6735dd5","name":"CheckMemoryCollection"},{"parameters":{"jsCode":"// Determine whether the writing memory collection exists.\nconst response = $input.first().json;\nconst request = $('AttachMemoryEmbedding').first().json;\nconst statusCode = response.statusCode ?? 0;\n\nreturn [{\n  json: {\n    ...request,\n    collectionExists: statusCode >= 200 && statusCode < 300\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1776,0],"id":"be67f678-b042-4a86-b2c9-1dc1eaba9a8c","name":"ParseMemoryCollectionStatus"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"70cb1571-fc5f-4a65-a5cf-f1d38df4d588","leftValue":"={{ $json.collectionExists }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2032,0],"id":"f62ff65e-0dd8-4ba8-9971-ef939fe450da","name":"MemoryCollectionExists"},{"parameters":{"method":"PUT","url":"={{ $json.qdrantBaseUrl + '/collections/' + encodeURIComponent($json.collection) }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{({\n  vectors: {\n    size: 2048,\n    distance: 'Cosine'\n  }\n})}}","options":{"timeout":120000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2288,-96],"id":"33ab1245-a99c-4464-8b2a-ddeba9f8b7ff","name":"CreateMemoryCollection"},{"parameters":{"method":"PUT","url":"={{ $('AttachMemoryEmbedding').first().json.qdrantBaseUrl + '/collections/' + encodeURIComponent($('AttachMemoryEmbedding').first().json.collection) + '/points?wait=true' }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{({\n  points: [\n    {\n      id: $('AttachMemoryEmbedding').first().json.pointId,\n      vector: $('AttachMemoryEmbedding').first().json.vector,\n      payload: {\n        memory_id: $('AttachMemoryEmbedding').first().json.original.memoryId,\n        feedback_id: $('AttachMemoryEmbedding').first().json.original.feedbackId,\n        article_id: $('AttachMemoryEmbedding').first().json.original.articleId,\n        profile_version: $('AttachMemoryEmbedding').first().json.original.writingMemory.profileVersion,\n        rules: $('AttachMemoryEmbedding').first().json.original.writingMemory.rules,\n        avoid_phrases: $('AttachMemoryEmbedding').first().json.original.writingMemory.avoidPhrases,\n        preferred_patterns: $('AttachMemoryEmbedding').first().json.original.writingMemory.preferredPatterns,\n        summary: $('AttachMemoryEmbedding').first().json.original.writingMemory.summary,\n        text: $('AttachMemoryEmbedding').first().json.memoryText,\n        generated_at: $('AttachMemoryEmbedding').first().json.original.metadata.generatedAt\n      }\n    }\n  ]\n})}}","options":{"timeout":120000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2544,0],"id":"db0917ea-b93f-4341-b2a1-bb5ab77dac82","name":"UpsertWritingMemory"},{"parameters":{"jsCode":"// Return a compact memory update result.\nconst response = $input.first().json;\nconst request = $('AttachMemoryEmbedding').first().json;\nconst original = request.original;\n\nreturn [{\n  json: {\n    ...original,\n    memoryStorage: {\n      provider: 'qdrant',\n      collection: request.collection,\n      pointId: request.pointId,\n      operationStatus: response.status ?? response.result?.status ?? 'completed'\n    },\n    metadata: {\n      ...original.metadata,\n      updater: '11-style-memory-updater',\n      updaterVersion: '1.1.1',\n      status: 'memory_stored',\n      storedAt: new Date().toISOString()\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2800,0],"id":"5b27a5d6-7449-4a59-a7c6-21b76cbe6c4a","name":"FinalizeMemoryStorage"}],"connections":{"ManualTest":{"main":[[{"node":"BuildSampleMemory","type":"main","index":0}]]},"StyleMemoryWebhook":{"main":[[{"node":"SetMemoryConfig","type":"main","index":0}]]},"BuildSampleMemory":{"main":[[{"node":"SetMemoryConfig","type":"main","index":0}]]},"SetMemoryConfig":{"main":[[{"node":"BuildMemoryDocument","type":"main","index":0}]]},"BuildMemoryDocument":{"main":[[{"node":"CreateMemoryEmbedding","type":"main","index":0}]]},"CreateMemoryEmbedding":{"main":[[{"node":"AttachMemoryEmbedding","type":"main","index":0}]]},"AttachMemoryEmbedding":{"main":[[{"node":"CheckMemoryCollection","type":"main","index":0}]]},"CheckMemoryCollection":{"main":[[{"node":"ParseMemoryCollectionStatus","type":"main","index":0}]]},"ParseMemoryCollectionStatus":{"main":[[{"node":"MemoryCollectionExists","type":"main","index":0}]]},"MemoryCollectionExists":{"main":[[{"node":"UpsertWritingMemory","type":"main","index":0}],[{"node":"CreateMemoryCollection","type":"main","index":0}]]},"CreateMemoryCollection":{"main":[[{"node":"UpsertWritingMemory","type":"main","index":0}]]},"UpsertWritingMemory":{"main":[[{"node":"FinalizeMemoryStorage","type":"main","index":0}]]}},"pinData":{},"settings":{"timezone":"Asia/Taipei","executionOrder":"v1"},"meta":{"instanceId":"77a976b121cfd3aa989f7edc4adf3d5f53344addf28f8e019d7604d7bc201cb2"}}