workflows/12-style-memory-retriever.json
{"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,96],"id":"34cb8ebf-051e-4391-8fe5-1909c089fb69","name":"ManualTest"},{"parameters":{"httpMethod":"POST","path":"phoenix/style-memory/retrieve","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,-96],"id":"bf9382c5-aafb-4487-99ed-0a50c12cd4fc","name":"StyleMemoryRetrieveWebhook","webhookId":"278535f3-db32-4488-a053-0418ac03940d"},{"parameters":{"jsCode":"// Provide deterministic analyzed content for manual testing.\nreturn [{\n  json: {\n    id: 'manual:https://example.com/ai-agent',\n    source: 'manual',\n    title: 'AI Agent 與工作流',\n    url: 'https://example.com/ai-agent',\n    language: 'zh-TW',\n    content: 'AI Agent 不應只負責生成文字，也應根據工具結果規劃下一步。',\n    analysis: {\n      topic: 'AI Agent',\n      coreIdea: 'AI Agent 應根據工具結果規劃下一步',\n      audience: 'n8n 與自動化使用者',\n      angles: ['Agent orchestration'],\n      keywords: ['AI Agent', 'n8n', 'workflow automation']\n    },\n    metadata: {\n      status: 'analyzed'\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,96],"id":"357a59a3-c77e-4e34-a415-2aef4d8aab1b","name":"BuildSampleContext"},{"parameters":{"assignments":{"assignments":[{"id":"cde991ef-f868-4be1-94b8-edf8a74b9d12","name":"qdrantBaseUrl","value":"https://YOUR-QDRANT-CLUSTER.cloud.qdrant.io","type":"string"},{"id":"7494305c-bf66-46c5-a5f4-b395059ddfa9","name":"collection","value":"writing_memory_v1","type":"string"},{"id":"dc30d6f0-bf2c-4ee0-84f6-43b765fb74aa","name":"embeddingModel","value":"nvidia/llama-nemotron-embed-1b-v2","type":"string"},{"id":"867a6bf1-e6d4-402e-9f6b-1317e3f34012","name":"topK","value":5,"type":"number"},{"id":"9d4f02ae-b0af-452c-b0dd-2e2dfae746d1","name":"scoreThreshold","value":0.45,"type":"number"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[496,0],"id":"68a02b7b-c559-4736-8846-c70a49387d1b","name":"SetMemoryRetrievalConfig"},{"parameters":{"jsCode":"// Build a semantic query for retrieving relevant writing memory.\nconst input = $input.first().json;\nconst body = input.body ?? input;\n\nif (String(body.qdrantBaseUrl).includes('YOUR-QDRANT-CLUSTER')) {\n  throw new Error('SetMemoryRetrievalConfig.qdrantBaseUrl must be replaced with your Qdrant Cloud URL');\n}\n\nconst topic = body.analysis?.topic ?? body.title ?? '';\nconst coreIdea = body.analysis?.coreIdea ?? body.content ?? '';\nconst audience = body.analysis?.audience ?? '';\nconst angles = Array.isArray(body.analysis?.angles) ? body.analysis.angles : [];\nconst keywords = Array.isArray(body.analysis?.keywords) ? body.analysis.keywords : [];\n\nconst queryText = [\n  `Topic: ${topic}`,\n  `Core idea: ${coreIdea}`,\n  `Audience: ${audience}`,\n  `Angles: ${angles.join(', ')}`,\n  `Keywords: ${keywords.join(', ')}`\n].join('\\n');\n\nreturn [{\n  json: {\n    original: body,\n    queryText,\n    qdrantBaseUrl: String(body.qdrantBaseUrl).replace(/\\/$/, ''),\n    collection: body.collection,\n    embeddingModel: body.embeddingModel,\n    topK: Number(body.topK),\n    scoreThreshold: Number(body.scoreThreshold)\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,0],"id":"8281f70d-4276-4ad4-8800-bffe3d18f900","name":"BuildMemoryQuery"},{"parameters":{"method":"POST","url":"https://integrate.api.nvidia.com/v1/embeddings","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{({\n  model: $json.embeddingModel,\n  input: [$json.queryText],\n  input_type: 'query',\n  encoding_format: 'float',\n  truncate: 'END'\n})}}","options":{"timeout":120000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1008,0],"id":"2544a6ba-29e3-4dcd-a5ba-985f4a869657","name":"CreateMemoryQueryEmbedding"},{"parameters":{"jsCode":"// Attach the query vector.\nconst response = $input.first().json;\nconst request = $('BuildMemoryQuery').first().json;\nconst vector = response.data?.[0]?.embedding;\n\nif (!Array.isArray(vector) || vector.length === 0) {\n  throw new Error('NVIDIA embedding response does not contain data[0].embedding');\n}\n\nreturn [{ json: { ...request, vector } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1264,0],"id":"4faf2c40-fc8d-4c41-af66-13dee8593c8e","name":"AttachMemoryQueryEmbedding"},{"parameters":{"method":"POST","url":"={{ $json.qdrantBaseUrl + '/collections/' + encodeURIComponent($json.collection) + '/points/query' }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{({\n  query: $json.vector,\n  limit: $json.topK,\n  score_threshold: $json.scoreThreshold,\n  with_payload: true,\n  with_vector: false\n})}}","options":{"timeout":120000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,0],"id":"5be16351-32fe-4555-8ab5-bf6133b0b96c","name":"QueryWritingMemory"},{"parameters":{"jsCode":"// Merge the retrieved writing memory into the current content contract.\nconst response = $input.first().json;\nconst request = $('AttachMemoryQueryEmbedding').first().json;\nconst original = request.original;\nconst points = response.result?.points ?? response.result ?? [];\n\nconst memories = (Array.isArray(points) ? points : [])\n  .map((point) => ({\n    pointId: String(point.id ?? ''),\n    score: Number(point.score ?? 0),\n    memoryId: String(point.payload?.memory_id ?? ''),\n    articleId: String(point.payload?.article_id ?? ''),\n    rules: Array.isArray(point.payload?.rules) ? point.payload.rules : [],\n    avoidPhrases: Array.isArray(point.payload?.avoid_phrases) ? point.payload.avoid_phrases : [],\n    preferredPatterns: Array.isArray(point.payload?.preferred_patterns) ? point.payload.preferred_patterns : [],\n    summary: String(point.payload?.summary ?? '')\n  }))\n  .slice(0, request.topK);\n\nconst mergedRules = [];\nconst seenRules = new Set();\n\nfor (const memory of memories) {\n  for (const rule of memory.rules) {\n    const text = String(rule.rule ?? '').trim();\n    if (!text || seenRules.has(text)) continue;\n    seenRules.add(text);\n    mergedRules.push({\n      category: String(rule.category ?? 'generalRules'),\n      rule: text,\n      confidence: Number(rule.confidence ?? 0.5),\n      sourceMemoryId: memory.memoryId,\n      similarityScore: memory.score\n    });\n  }\n}\n\nreturn [{\n  json: {\n    ...original,\n    writingMemoryContext: {\n      query: request.queryText,\n      collection: request.collection,\n      memories,\n      memoryCount: memories.length,\n      mergedRules: mergedRules.slice(0, 20),\n      avoidPhrases: [...new Set(memories.flatMap((memory) => memory.avoidPhrases))].slice(0, 30),\n      preferredPatterns: [...new Set(memories.flatMap((memory) => memory.preferredPatterns))].slice(0, 30)\n    },\n    metadata: {\n      ...original.metadata,\n      memoryRetriever: '12-style-memory-retriever',\n      memoryRetrieverVersion: '1.2.0',\n      status: 'memory_retrieved',\n      memoryRetrievedAt: new Date().toISOString()\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1776,0],"id":"320583f8-54fb-44d8-8f17-3064c8af6162","name":"FinalizeMemoryContext"}],"connections":{"ManualTest":{"main":[[{"node":"BuildSampleContext","type":"main","index":0}]]},"StyleMemoryRetrieveWebhook":{"main":[[{"node":"SetMemoryRetrievalConfig","type":"main","index":0}]]},"BuildSampleContext":{"main":[[{"node":"SetMemoryRetrievalConfig","type":"main","index":0}]]},"SetMemoryRetrievalConfig":{"main":[[{"node":"BuildMemoryQuery","type":"main","index":0}]]},"BuildMemoryQuery":{"main":[[{"node":"CreateMemoryQueryEmbedding","type":"main","index":0}]]},"CreateMemoryQueryEmbedding":{"main":[[{"node":"AttachMemoryQueryEmbedding","type":"main","index":0}]]},"AttachMemoryQueryEmbedding":{"main":[[{"node":"QueryWritingMemory","type":"main","index":0}]]},"QueryWritingMemory":{"main":[[{"node":"FinalizeMemoryContext","type":"main","index":0}]]}},"pinData":{},"settings":{"timezone":"Asia/Taipei","executionOrder":"v1"},"meta":{"instanceId":"77a976b121cfd3aa989f7edc4adf3d5f53344addf28f8e019d7604d7bc201cb2"}}